@media only screen and (max-width: 800px) {
  
  /* Force table to not be like tables anymore */
  .table-responsive table, 
  .table-responsive thead, 
  .table-responsive tbody, 
  .table-responsive th, 
  .table-responsive td, 
  .table-responsive tr {
    display: block;

  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  .table-responsive thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  .table-responsive tr { border: 1px solid #ccc; }
 
  .table-responsive td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    text-align:left;
    padding-left:52% !important;
    white-space: pre-wrap!important;
    word-break: break-all;
  }
 
  .table-responsive td:before { 
    /* Now like a table header */
    position: absolute;
    top: 50%;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: pre-wrap;
    text-align: left;
    font-weight: bold;
    transform: translateY(-50%);
    word-break: break-all;
  }
 
  /*
  Label the data
  */
  .table-responsive td:before { content: attr(data-title); }

  #account_history_table tr {
    border:0;
    border-bottom: 1px solid #ddd;
  }
  #account_history_table tr td {
    min-height: 37px;
    border: 0;
    border-bottom: 1px solid #ddd;
  }
  #account_history_table tr td:last-of-type {
    border: 0;
    border-bottom: 1px solid #ddd;

  }
}
/*--------------------------------------- STYLES FOR MEDIA QUERIES -------------------------------*/
@media (min-width:1600px) {
  .big_banner img {
    width: 100%!important;
  }
  
  .col-xl-12{width:100%}.col-xl-11{width:91.66666667%}.col-xl-10{width:83.33333333%}.col-xl-9{width:75%}.col-xl-8{width:66.66666667%}.col-xl-7{width:58.33333333%}.col-xl-6{width:50%}.col-xl-5{width:41.66666667%}.col-xl-4{width:33.33333333%}.col-xl-3{width:25%}.col-xl-2{width:16.66666667%}.col-xl-1{width:8.33333333%}

}
@media (min-width:1200px) {
  .col-lg-2-4 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width:1199px) {
  .main_nav {
    margin: 0 auto 0 auto;
    text-align: center;
  }

  .main_nav li {
    display: inline-block;
    margin-bottom: 5px;
  }

  .call_me,
    .form_search_site {
    padding-left: 20px;
  }

  .news h2 > a,
    .customer_reviews h2 > a {
    margin: 0;
  }

  .user_info_container time {
    margin: 5px 0 0 0;
  }
  .phones_header {
    display: inline-block;
    margin: 0;
    text-align: center;
  }
}

@media (max-width:1199px) {
  .phones_header {
    display: block;
    margin: 0;
  }
  
	.logo a {
		font:700 40px/30px "PT Sans",sans-serif;
	}
}

@media (max-width:1024px) {
}

@media (min-width:992px) {
  #modal_cart_popup .modal-dialog{
    width: 992px;
  }
  .sidebar-toggle-back,
  .sidebar-toggle-up {
    display: none;
  }
  .checkout_right {
    float: right;
  }
  .col-md-2-4 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  .new_price_card_product {
    font-size: 19px;
  }
}
@media (max-width:991px) {
  .call_me .phones_header {
    display: block;
  }
    .phones_header {
        display: inline-block;
        margin: 0 1px 0 0;
        text-align: center;
        float: left;
    }

  .call_me .time_work {
    margin: 0;
    float: left;
  }

  .call_me,
    .form_search_site {
    padding-left: 0;
  }

  .enter_registration .social_header_facebook,
    .enter_registration .social_header_vk {
    display: none;
  }

  .call_me {
    text-align: center;
  }

  .call_me > p {
    display: inline-block;
  }
  .one-sidebar div.left_content {
    padding: 15px 15px 0;
  }
  .accordion {
    padding: 0;
  }
  .sidebar-toggle-back:hover,
    .sidebar-toggle-back {
    color: #fff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    position: fixed;
    left: 220px;
    opacity: 0.75;
    top: 50%;
    z-index: 2147483647;
    border: 0;
    background: #399FDF;
    padding: 3px 3px 0px;
    border-radius: 50%;
  }
  .sidebar-toggle-back:hover,
  .sidebar-toggle-back:focus {
    opacity: 1;
  }
  .sidebar-toggle-back svg {
    fill: #fff;
  }

  .sidebar.opened {
    visibility: visible;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 0;
  }
  
  .right_content {
    float:none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 2147483647;
    width: 240px;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-shadow: none;
    bottom: 0;
    left: -240px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow-x: visible;
    overflow-y: auto;
    box-shadow: 0 0 53px rgba(0, 0, 0, 0.47);
  }

  #sidebar-left .inner {
    padding: 20px 20px 20px 0;
  }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .add_nav .navbar-default ul > li > a.all_brands {
    font-weight: 700;
  }
    a.call {
        margin-left: 10px;
        vertical-align: middle;
        margin-top: -10px;
    }
    .subcats_imgs>div a {
        margin-bottom: 20px;
    }
    .basket {
        margin-top: 20px;
    }
    .logo a {
        margin-top: 15px;
    }
}

@media (max-width:991px) {
  .form_search_site {
    width: 95%;
  }
}

@media (max-width: 870px) {
    .phones_header {
        font-size: 15px;
        margin-right: 5px;
    }
    a.call {
        margin-left: 0;
    }
}

@media (max-width: 835px) {
    .phones_header {
        margin-right: 2px;
    }
    /*a.call {
        margin-left: -20px;
    }*/
    .phones_header {
        font-size: 14px;
    }
    .call>span {
        padding-left: 1px;
    }
}
@media (max-width:767px) {
  .one-sidebar div.right_content {
    padding: 0 15px;
  }
  .callback_round svg {
    fill: #000;
  }
  .pdf_link {
    right: 5px;
    top: 115px;
    display: none;
  }

  .change_color {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #333;
    line-height: 30px;
    text-transform: capitalize;
  }

  .change_color:hover {
    background: #eee;
  }
  
  .change_color input {
    margin: 0 10px 0 0;
    border: 0;
    float: left;
  }

  .section_top_footer .toggle-xs,
  .contacts_info_footer .toggle-xs {
    float: right;
    pointer-events: none;
    color: #fff;
    border: 5px solid transparent;
    border-top-color: #b1b1b1;
    -ms-transform-origin: center 3px;
    transform-origin: center 3px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    right: 10px;
    top: 50%;
    position: absolute;
    transition: .3s ease-in-out transform;
    transform: translateY(-50%);
  }
  .contacts_info_footer .toggle-xs {
    top: 21px;
    transform: none;
  }
  .section_top_footer .toggle-xs.open,
  .contacts_info_footer .toggle-xs.open {
    border-top-color: #F2B222;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -ms-transform-origin: center 3px;
  }

  .dropdown-color_change button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }

  .dropdown-color_change button {
    /* height: 31px; */
    width: 100%;
    text-align: left;
  }

  .dropdown-color_change button:active,
  .dropdown-color_change button:focus,
  .dropdown-color_change button:hover {
    color: #fff;
  }

  .dropdown-color_change .dropdown-menu {
    position: fixed;
    bottom: 93px;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 -6px 12px rgba(0,0,0,.025);
    box-shadow: 0 -6px 12px rgba(0,0,0,.025);
  }

  #popup_cart_form .table-responsive tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  #popup_cart_form .table-responsive {
    border: 0;
  }

  .buy_template_link {
    font-size: 13px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 9px 0;
  }

  .buy_template img {
    max-width: 175px;
    max-height: 30px;
    margin-top: 0;
    width: unset;
  }
  
  .total-block {
    text-align: left!important;
  }

  .total-block .main {
    float: left;
    width: 100%;
  }

  .enter_window {
    top: 39px;
    left: -15px;
    border-radius: 0;
    width: 100vw;
  }
  
  .enter_window .form_enter {
    width: 100%;
  }

  .enter_window .password_enter {
    width: calc(100% - 25px);
  }

  .panel-default>.panel-heading+.panel-collapse .panel-body tr td {
    display: block;
  }
  .logo {
    display:block;
    height: 50px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .logo > a > img {
    max-height: 40px;
  }
  .img-responsive {
    display:inline-block;
    margin: 0!important;
    height: auto!important;
  }
  
  .phones_header {
    margin-bottom:7px;
  }

  .wrapper_language_currency_select,
    .enter_registration {
    float: left;
  }

  .enter_link,
    .registration {
    text-transform: uppercase;
  }

  .enter_link {
    margin: 0 15px 0 0;
  }

  .currency_select  > span,
    .enter_registration {
    text-align: left;
  }

  .enter_registration {
    margin: 0;
  }

  .search_site_submit {
    width: 60px;
  }

  .quantity_basket_768 {
    margin: -21px 15px 0 0;
    font-size: 14px;
  }

  .main_nav {
    float: right;
    margin: 0;
  }
  .dd_select.pl_sort {
    margin-top: 5px;
  }

  .attr_select .selectize-control, .attr_select select {
    min-width: 70%;
  }
  .main_nav > ul {
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 60px;
    padding: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .main_nav.expand > ul {
    max-height: 900px;
  }

  .main_nav > ul * {
    display: block;
  }

  .main_nav ul > li {
    margin: 0;
  }

  .main_nav  li.mobile {
    display: block;
  }

  .main_nav li > a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px dashed #3CA3E4;
    background: #A8DBFA;
    color: #000;
  }

  .main_nav li > a:hover {
    color: #248bcb;
  }

  .main_nav li > a,
    .main_nav li > a:hover,
    .main_nav li > a:focus {
    text-decoration: none;
  }

  .main_nav  li.active_page > a {
    background: #fff;
  }

  .main_nav ul > li:last-of-type > a {
    border-bottom: none;
  }
  .add_nav .navbar-default .btn-mobile_menu {
    border: none;
    padding: 0 5px;
    position: relative;
    display: block;
    border: unset;
    right: 0;
    top: -3px;
    width: 40px;
    height: 15px;
    background: transparent;
  }
  .navbar-header {
    background: #fff;
    position: fixed;
    z-index:1000;
    left:0;
    top:0;
    right: 0;
  }
  .add_nav .navbar-default .btn-mobile_menu:hover, .navbar-default .btn-mobile_menu:focus {
    border: none;
    background-color: transparent;
  }
  .add_nav .navbar-default .btn-mobile_menu .icon-bar {
    background: #333;
    display:block;
    width:25px;
    height:3px;
    position:absolute;
    border-radius:4px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    margin: 0;
  }
  .btn-mobile_menu > .icon-bar:nth-of-type(2) {
     top:0;
  }
  .btn-mobile_menu > .icon-bar:nth-of-type(3) {
      top:50%;
      opacity: 1;
  }
  .btn-mobile_menu > .icon-bar:nth-of-type(4) {
     top:100%;
  }
  .active_btn > .icon-bar:nth-of-type(2){
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
  }
  .active_btn > .icon-bar:nth-of-type(3) {
    opacity:0;
  }
  .active_btn > .icon-bar:nth-of-type(4) {
    transform: translateY(-8px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-8px) translateX(0) rotate(-45deg);
  }
  .top_block_header .navbar {
    display: block;
  }
  .mobile_menu hr {
    margin: 10px 0;
  }
  .add_nav .navbar-default .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container > .mobile_menu > ul {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    margin: 2px 0 0;
  }
  .add_nav .navbar-default .navbar-nav > li > a, .add_nav .navbar-default ul > li > a {
    padding: 11px 20px;
    height: 100%;
    max-height: 60px;
    color: #333;
    display: block;
    width: 90%;
    vertical-align: middle;
    background: transparent;
    position: relative;
    z-index: 25;
    font-size: 14px;
    line-height: 16px;
  }
  .add_nav .navbar-default .open_menu > li > a:hover {
    color: #333;
    text-decoration: none;
    text-shadow: none;
    background: transparent;
  }
  .container_add_nav .mobile_menu {
    padding-top: 15px;
    max-height: none;
    position: fixed;
    left: 0;
    top:50px;
    height: calc(100% - 50px)!important;
    width: 80%;
    z-index: 1000;
    background: #ffffff;
    transition: .3s;
    transform: translate(-100%, 0);
  }
  .container_add_nav .active_menu {
    transform: translate(0);
    transition: .3s;
    border-top: 1px solid #eee;
    overflow: auto;
  }
  .navbar .button-main-cursor {
    background: #fff;
    border: 0;
    padding: 0 15px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: initial;
    color: #333;
    width: 100%;
    cursor: pointer;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .navbar .navbar-nav, .navbar .menu_information, .navbar .menu_manuf {
    position: absolute;
    transform: translate(-100%, 0);
  }
  .navbar .menu_manuf.open_menu .manuf_bg img {
    display: none;
  }
  .navbar .open_menu {
    transform: translate(0);
    transition: .3s;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    border: 0;
    box-shadow: none;
    text-transform: initial;
    border-radius: 0;
    padding: 0;
    background: #f5f5f5;
  }
  .navbar .manuf_bg > a {
    border: none;
  }
  .show-sub_ul {
    position: relative;
  }
  .add_nav .navbar-default .show-sub_ul .down, .add_nav .navbar-default .button-main-cursor .down {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .add_nav .navbar-default .show-sub_ul .down svg, .add_nav .navbar-default .button-main-cursor .down svg {
    width: 10px;
    height: 16px;
  }
  .show-sub_ul.active .sub_ul{
    transform: translate(0);
    transition: .3s;
    position: relative;
  }
  .show-sub_ul .sub_ul {
    position: absolute;
    flex-direction: column;
    left: 0;
    top:0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    height: auto;
    max-height: 220px;
    overflow-y: auto;
    transform: translate(-100%, 0);
    display: flex;
  }
  .sub_ul li a {
    padding: 9px 20px;
    height: 100%;
    max-height: 60px;
    color: #333;
    display: block;
    width: 97%;
    vertical-align: middle;
    background: #fff;
    position: relative;
    z-index: 25;
    font-size: 13px!important;
    line-height: 16px;
    padding-left: 0!important;
    text-transform: initial;
  }
  .sub_ul:after {
    content: none;
  }
  .add_nav .navbar-default .navbar-nav li a.parent_category_image {
    display: none;
  }
  .sub > .fa, .sub > svg {
    display: none;
  }
  .sub_sub {
    display: none;
  }
  .categories_menu .sub > a img {
    margin: 0 10px 0 0;
  }
  .categories_menu .sub > a {
    margin: 0;
    padding: 5px 20px;
  }

  .settings-selector {
    height: 40px;
    padding: 7px 0;
  }
  .settings-selector .language_select, .settings-selector .currency_select {
    position: relative;
  }
  .settings-selector .language-dropdown-button {
    border: none;
    font-weight: 700;
    justify-content: flex-start;
    margin-left: 15px;
    padding: 0;
    width: auto;
  }
  .settings-selector .dropdown-menu-language {
    margin: 0;
  }
  .settings-selector ul.dropdown-menu-language > li > a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 100%;
    padding: 5px 8px;
  }
  .currency_select form[name='currencies'] > span {
    display: none;
  }
  .currency_select .selectize-input {
    border: none;
  }
  .currency_select .selectize-control.single .selectize-input .item {
    font-weight: 700;
  }
  .sidebar-toggle-up {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 25%;
    width: 40px;
    height: 40px;
    padding: 5px;
    overflow: hidden;
    border-radius: 0 3px 3px 0;
    font-size: 0;
    background-color: #57B32C;
  }
  .sidebar-toggle-up svg {
    fill: #fff;
    width: 26px;
    height: 26px;
    font-size: 26px;
  }
  .login_block {
    position: relative;
  }
  .login_block a, .callback_block a.call{
    color: #333;
    background: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 13px;
    text-transform: initial;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }
  .callback_block a.call {
    padding: 0 16px;
  }
  .callback_block .callback_round {
    margin: 0 11px 0 0;
    border-radius: 0;
    background: transparent;
    width: auto;
  }
  .callback_block .callback_round .fa {
    font-size: 16px;
    color: #333;
  }
  .login_block a svg {
    fill: #000;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    font-size: 16px;
  }
  .phones_block {
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px 0;
    min-height: 40px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.5;
  }
  .container_middle_header {
    padding-bottom: 24px;
  }


  .search_site {
    text-align: justify;
 /*   text-align-last: justify; */
  }
  .container_add_nav {
    padding: 0;
  }
  .show_search_form {
    background: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 32px;
    cursor: pointer;
  }
  .show_search_form svg {
    fill: #000;
    width: 3em;
    height: 3em;
  }
  .header-actions {
    background: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    cursor: pointer;
  }
  .basket_768 {
    margin-top: -4px;
  }
  .open-menu-xs {
    height: 50px;
    width: 50px;
    text-align: center;
    background: #fff;
    border: 0;
    float: right;
    position: relative;
    padding: 0;
  }
  .search_site:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }
  .search-block {
    padding: 0;
    position: absolute;
    width: calc(100% - 15px);
    width: 100%;
  }
  .main_search_form {
    display: block;
    opacity: 1;
    pointer-events: none;
    z-index: 1;
    background: #fff;
    top: -2000px;
    position: relative;
    transition-delay: 0s;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transition: opacity .5s linear,top .5s step-end,-webkit-transform .5s cubic-bezier(.36,.66,.04,1);
    transition: transform .5s cubic-bezier(.36,.66,.04,1),opacity .5s linear,top .5s step-end;
    transition: transform .5s cubic-bezier(.36,.66,.04,1),opacity .5s linear,top .5s step-end,-webkit-transform .5s cubic-bezier(.36,.66,.04,1);
  }
  .search-form-open {
    position: relative;
    width: 100%;
    z-index: 12;
    opacity: 1;
    top: 0;
    height: 50px;
    pointer-events: all;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: opacity .1s linear,top .25s step-start,-webkit-transform .25s cubic-bezier(.17,.67,.52,1);
    transition: transform .25s cubic-bezier(.17,.67,.52,1),opacity .1s linear,top .25s step-start;
    transition: transform .25s cubic-bezier(.17,.67,.52,1),opacity .1s linear,top .25s step-start,-webkit-transform .25s cubic-bezier(.17,.67,.52,1);
    transition-delay: 0s;
  }
  .form_search_site {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .form_search_site, .basket_768 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    text-align: right;
  }
  .basket_768 {
    margin-right: 10px;
    position: relative;
  }
  .basket_768:before {
    content: unset;
  }
  .basket_768 svg {
    width: 26px;
    height: 26px;
  }
  .basket_768 .quantity_basket_768 {
    position: absolute;
    margin: 0;
    top: 5px;
    right: 6px;
    color: #fff;
  }
  .search-form-input {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transition-delay: 0.25s;
    height: 100%;
  }
  .search-form-input-open {
    transition: opacity .1s linear,top .25s step-start,-webkit-transform .25s cubic-bezier(.17,.67,.52,1);
    transition: transform .25s cubic-bezier(.17,.67,.52,1),opacity .1s linear,top .25s step-start;
    transition: transform .5s cubic-bezier(.17,.67,.52,1),opacity .5s linear,top .5s step-start,-webkit-transform .5s cubic-bezier(.17,.67,.52,1);
    transition-delay: 0s;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    padding: 10px 0 10px 59px;
    border: 0;
  }
  #search-form-button1 {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    transition-delay: 0.1s;
  }

  .search-form-button-open {
    transition: opacity .1s linear,top .25s step-start,-webkit-transform .25s cubic-bezier(.17,.67,.52,1);
    transition: transform .25s cubic-bezier(.17,.67,.52,1),opacity .1s linear,top .25s step-start;
    transition: transform .4s cubic-bezier(.17,.67,.52,1),opacity .4s linear,top .4s step-start,-webkit-transform .4s cubic-bezier(.17,.67,.52,1);
    -webkit-transform: translateY(0px)!important;
    transform: translateY(0px)!important;
  }
  .main_search_form .search_site_submit {
    color: #000;
    line-height: 1;
    width: 50px;
    background: #fff;
    left: 0;
    top: -2px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .main_search_form .search_site_submit svg {
    fill: #000;
    width: 1.5em;
    height: 1.5em;
  }
  #search-form-button-close1 {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    color: #000;
    line-height: 1;
    width: 50px;
    background: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    border: 0;
  }

  .search-form-button-close-open {
    transition: opacity .1s linear,top .25s step-start,-webkit-transform .25s cubic-bezier(.17,.67,.52,1);
    transition: transform .25s cubic-bezier(.17,.67,.52,1),opacity .1s linear,top .25s step-start;
    transition: transform .4s cubic-bezier(.17,.67,.52,1),opacity .4s linear,top .4s step-start,-webkit-transform .4s cubic-bezier(.17,.67,.52,1);
    -webkit-transform: translateY(0px)!important;
    transform: translateY(0px)!important;
  }
  #search-form-button-close1 svg {
    fill: #000;
    width: 1.5em;
    height: 1.5em;
  }
  .search-form-fader {
    position: fixed;
    left: 0;
    top: -2000px;
    z-index: 12;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  .search-form-fader-open {
    top: 50px;
    opacity: 0.25;
  }
  .ac_results {
    width: 100%!important;
    z-index: 1025;
  }
  .ac_results li {
    height: 100%;
    max-height: 63px;
    overflow: hidden;
  }
  .ac_results .qnt1 {
    width: calc(100% - 160px);
  }
  .add_nav .navbar-default {
    min-height: 50px;
    background: #fff;
    box-shadow: none;
  }

  .add_nav .navbar-default .navbar-nav > li {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }

  .add_nav .navbar-default .navbar-nav > li:last-of-type {
    border-right: none;
    border-bottom: none;
  }

  .add_nav .navbar-default .navbar-nav li a {
    min-height: 1px;
    text-align:left;
  }
  .add_nav .navbar-default .navbar-nav li a.sub {
    width: 100%;
    padding: 5px 35px 5px 20px;
    line-height: 16px;
    font-size: 13px;
    margin: 0;
    color: var(--sm-text-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .add_nav .navbar-default .navbar-nav li a.sub> img {
    margin: 0 10px 0 0;
  }
  .header-categories {
    position: absolute;
    z-index: 99;
    left: 0;
    width: 85%;
    padding: 0;
    top: 50px;
    transform: translate(-100%, 0);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
    float: left;
    display: table;
    transition: 0.3s;
  }
  .header-categories-animate {
    -webkit-transform: translateY(50px)!important;
    transform: translate(0)!important;
    transition: all .3s cubic-bezier(.17,.67,.52,1);
    transition-delay: 0s;
  }
  .header-menu {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 51px);
    justify-content: start;
    overflow-y: auto;
    padding: 10px 0 0;
  }

  .money_systems,
    .copyright,
    .link_webstudio {
    margin-bottom: 20px;
  }

  .owl-dots {
    visibility: hidden;
  }

  .big_banner {
    margin-top: 0;
  }

  .big_banner img {
    width: auto!important;
    height: auto!important;
  }

  .section_top_footer,
  .contacts_info_footer {
    display: inline-block;
    text-align: left;
    padding-bottom: 5px;
    width: 100%;
    position: relative;
  }

  .top_footer .h3,
  .top_footer h3 {
    /*width: calc(100% + 25px);*/
    width: 100%;
  }
  .row_menu_contacts_footer > .col-xs-12 >.row > .col-xs-12, .row_menu_contacts_footer > .col-xs-12:nth-of-type(2) {
    padding-right: 0;
  }

  .section_top_footer .list_footer,
  .contacts_info_footer .list_footer {
    padding-top: 0;
  }

  .list_footer, #kabinet_footer, .contacts_info_footer_phones .phones, #footer_contacts {
    display: none;
  }

  .list_footer a,.adress {
    display: inline-block;
  }
  /*.top_header {
    margin-top: 40px;
  }*/
  .link_webstudio {
    float: left;
  }

  #account_order_info {
    margin-left: 0;
  }
  .account_template table {
    width: 100%;
  }
  #account_order_info > .row {
    margin-left: 0;
    margin-right: 0;
  }
  #account_order_info .order_header > div {
    border-bottom: 1px solid #ddd;
    border-right: 0!important;
  }
  #account_order_info .order_header > div:last-of-type {
    border-bottom:0;
  }
  #account_order_info .order_body > div:first-of-type {
    border-right: 0;
  }
  .account_template .table-responsive {
    margin: 0;
  }
  .prod_price, .prod_buy_btns {
    display: inline-block;
  }
  .prod_buy_btns {
    padding-left: 0;
  }
  #r_buy_intovar {
    margin-right: 0;
  }
  #r_buy_intovar .buy {
    padding: 13px 23px;
  }
  .prod_buy_btns .buy_one_click {
    padding: 12px 13px;
  }
  .compare_table {
    width: 100%;
    display: block;
    overflow-x: auto;
  }
  .compare_table tr > td:first-of-type {
    left: 0;
    position: sticky;
    background: #f9f9f9;
    border-right: 0;
    padding: 0 10px;
  }
  /* #owl-frontslider img, #owl-frontslider, #owl-frontslider .item-video, .single_slide {height:auto!important;margin:0;} */
  #tab-characteristics {
    -moz-column-count: unset;
    -moz-column-width: unset;
    -webkit-column-count: unset;
    -webkit-column-width: unset;
    column-count: unset;
    column-width: unset;
  }
}
@media (max-width:720px) {
  #pl_sort_ms .ui-icon.ui-icon-triangle-1-s {
    position: absolute;
    right: 8px;
  }
  #pl_sort_ms span:nth-of-type(2) {
    white-space: nowrap;
    overflow: hidden;
    max-width: 51px;
    min-width: 46px;
    display: block;
    margin-right: 8px;
    text-overflow: ellipsis;
  }
}
@media (max-width:576px) {
  .nav-tabs.content-tabs {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-tabs>li {
    flex-basis: 49%;
  }
  .nav-tabs>li>a {
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
}
@media (max-width:480px) {
  .search_site_input {
    width: 100%;
  }
  
  .new_price {
    font-size: 14px;
    line-height: 26px;
  }
  
  #sync1 .item {
    height: 250px;
    line-height: 250px;
  }
  
  .subcats_imgs div {
     min-height: 170px;
  }

  .row_catalog_products .col_product {
  /*  width: 100%; */
  }
  .small_slider, .small_slider .owl-carousel .owl-stage {
    height: 100px;
  }
  .small_slider a {
    line-height: 100px;
  }
}

@media (max-width:420px) {
  .toggle_nav {
    margin: -5px 0 0 10px;
  }
  .phones_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
    height: 80px;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 700;
  }
}
@media (max-width:400px) {
  .row_big_banner {
    margin-top: 50px;
  }
  .small_slider {
    margin-top: 20px;
  }
  .product {
    margin: 0 0 5px 0;
  }
  .price {
    margin: 0 6px 0 0;
  }
  .p_description {
    padding: 6px 0;
  }
  .product button {
    padding: 4px 6px;
  }
}
@media (max-width: 339px) {
  .form_subscribe_news .btn-default {
    margin-top: 10px;
  }
  #r_buy_intovar .buy {
    padding: 13px 17px;
  }
  .prod_buy_btns .buy_one_click {
    padding: 12px 6px;
  }
}