body {
    /*font-family: 'Noto Sans', sans-serif;*/
    font:400 13px 'Roboto', sans-serif;
    /* padding-right: 0 !important;*/
    /*  overflow-y: scroll !important;  */
}

.modal-open, .modal-open .app-header, .modal-open .app-aside {
    /*padding-right:17px;*/
}
.modal-dialog {
    margin: 10px auto;
}
.modal-footer button[type="submit"]{
    margin-bottom: 0;
}
/*#content .container, #content .container-fluid {
  position: relative;
  padding-bottom: 90px;
}
#content .container .row,
#content .container-fluid .col-sm-6 {
  position: absolute;
  left: 15px;
  bottom: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 30px;
}*/

.fix-width {
    max-width: 1170px;
    margin: 0 auto;
}

.bg-solomono {
    background-color: #f4dc47;
}

.settings input {
    cursor: default !important;
}

.wrapper-md > i.fa-spin {
    display:block;
    margin:0 auto;
    opacity:0.3;
}
.modal_order_details {
    padding-bottom: 50px;
}

.edit_orders {
    margin:30px 0;
}
.edit_orders .edit_orders-btn_update {
    margin-bottom: 0;
}
.edit_orders input#search {
    margin: 15px 0;
}
.edit_orders .steps select.form-control {
    /*margin: 0 15px;*/
}
.edit_orders .steps .dataTableContent:first-of-type {
    padding: 0 15px 0 0;
}
.edit_orders .steps .add_product_text {
    padding: 0 0 0 15px;
}
.edit_orders .pageHeading {
    font-weight:bold;
}

.edit_orders .SubTitle {
    background:#3a3f51;
    color:#a6a8b1;
    padding:4px 0 4px 10px;
}

.edit_orders .dataTableHeadingRow {
    background:#f4dc47;
}
.edit_orders .dataTableHeadingRow td {
    padding:3px 6px;
    white-space:nowrap;
    font-size:12px;
    /*  border-left:1px solid rgba(0,0,0,0.1);  */
}
.edit_orders .edit_orders_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.edit_orders .actions_btn {
    text-align: right;
}
.edit_orders .form-control {
    height: 32px;
    font-size: 13px;
}
.edit_orders textarea.form-control {
    height: auto;
}
.edit_orders .customer_shipping_address tr:not(.dataTableHeadingRow) > td,
.edit_orders .edit_orders_products_table tr:not(.dataTableHeadingRow) > td,
.edit_orders .dataTableRow tr:not(.dataTableHeadingRow) > td {
    padding: 2px;
}

.edit_orders .customer_shipping_address tr:not(.dataTableHeadingRow) > td:last-of-type,
.edit_orders .edit_orders_products_table tr:not(.dataTableHeadingRow) > td:last-of-type,
.edit_orders .dataTableRow tr:not(.dataTableHeadingRow) > td:last-of-type {
    padding:2px 0 2px 2px;
}

.edit_orders .customer_shipping_address tr:not(.dataTableHeadingRow) > td:first-of-type,
.edit_orders .edit_orders_products_table tr:not(.dataTableHeadingRow) > td:first-of-type,
.edit_orders .dataTableRow tr:not(.dataTableHeadingRow) > td:first-of-type {
    padding:2px 2px 2px 0;
}


.edit_orders .customer_shipping_address tr:nth-of-type(2) > td,
.edit_orders .edit_orders_products_table tr:nth-of-type(2) > td,
.edit_orders .dataTableRow tr:nth-of-type(2) > td {
    padding-top:4px!important;
}

.edit_orders .edit_orders_status_orders > tbody > tr > td:last-of-type {
    padding-left:30px;
}

.edit_orders  .customer_shipping_address tr > td:first-of-type b {
    font-weight:normal;
}
.edit_orders .edit_orders_products-input_option {
    margin-top: 5px;
}
.wrapper_stats_customers span {
    margin-right: 10px;
}
.wrapper_stats_customers input {
    margin-left: 10px;
}
.wrapper_stats_customers input[type='submit'] {
    margin-left: 20px;
    line-height: 16px;
}
.sendmail tr td {
    padding:5px 0;
}
.payment_modules .payment_module_description, .payment_modules .value_payment_module_description {
    max-width: 50%;
}
.payment_modules .col-name-title_payment {
    width: 25%;
}
.payment_modules .col-name-title_shipping {
    width: 50%;
}
.const_filter, .val_filter {
    padding: 0;
}
.modal_order_details .row.form-group.text-right {
    display: flex;
    justify-content: space-between;
}
#user-select-container #create_customer,
#user-select-container #create_order_from_exist {
    margin-bottom: 10px;
}
#create_order{
    padding: 0;
    height: 44px;
    background: transparent;
}

.form-horizontal.address_book .checkbox-inline {
    padding-left: 35px;
}
.form-horizontal.address_book,
.form-horizontal.customers {
    padding-bottom: 70px;
}
.backup-sub-title{
    font-weight: bold;
    font-size: 15px;
}
.backup-tab-content{
    margin-top: 15px;
}
.backupForm .button-block>button{
    float: right;
}

#export .backup-tab-content .checkbox.col-sm-3 {
    margin: 5px 0 0 0;
}
.showTables:hover {
    cursor: pointer;
    text-decoration: underline;
}
.pointer_events_none{
    pointer-events: none;
    opacity: 0.3;
}
.check-buttons>div{
    padding: 5px 10px;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}

/* Sidebar */
.app-header-fixed #aside .collapse-menu .aside-wrap{
    width: 60px !important;
    max-width: 60px !important;
    transition:max-width 0s!important;
}
/*.app-header-fixed #aside .collapse-menu div.menu_search_form {
    width: 25px;
}*/
.app-header-fixed #aside .collapse-menu ul li.nav-svg span{
    display: inline-block !important;
}
app-aside-fixed .aside-wrap .navi-wrap .navi .nav {
    padding-top: 15px!important;
}
/* ./Sidebar */




.outer {
    position: relative;
    height: 260px;
    max-height: 260px;
}

.inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.innerCounters {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width:  100%;
}

.innerCounters .stats-heading {
    height: 39px;
    line-height: 39px;
    vertical-align: middle;
}

.innerCounters .stats-heading .h1 {
    display: inline-block;
    vertical-align: middle;
}

.innerCounters .stats-heading.sales-sum .h1 {
    font-size: 30px;
}

.m-b-none {
    margin-bottom: 0px;
}

.innerLeft {left: 0;}
.innerRight {right: 0}

.tab-container .tab-content.no-borders {
    border-color: transparent;
    border-width: 0;
}

.tab-container .nav-pills > li.active > a {
    color: inherit !important;
    background-color: transparent;
}

.tab-container .nav-pills > li.active > a,
.tab-container .nav-pills > li.active > a:hover,
.tab-container .nav-pills > li.active > a:active,
.tab-container .nav-pills > li.active > a:focus,
.tab-container .nav > li > a:hover,
.tab-container .nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #23b7e5;
    border-radius: 0;
}

.tab-container .nav-pills > li {
    width: calc(20% - 2px);
    text-align: center;
    display: table;
}

.tab-container .nav-pills > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    display: table-cell;
    height: 59px;
    vertical-align: middle;
    border-bottom: 3px solid transparent;
    min-height: 59px;
}

.tab-container .nav-pills {
    margin-bottom: 5px;
}

.tab-container .nav-pills > li.active {
    background-color: #e6e6e6;
}

.tab-container #overview-tabs.nav-pills {
    display: table;
    width: 100%;
}

.tab-container #overview-tabs.nav-pills > li {
    display: table-cell;
    vertical-align: middle;
    min-height: 59px;
    height: 59px;
    line-height: 59px;
    border-bottom: 3px solid transparent;
}

.tab-container #overview-tabs.nav-pills > li > a {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    height: auto;
    min-height: auto;
    border-bottom: none;
}

.tab-container #overview-tabs.nav-pills > li.active {
    border-bottom-color: #23b7e5;
    border-radius: 0;
}

.tab-container .table > thead > tr > th,
.tab-container .table > tbody > tr > th,
.tab-container .table > tfoot > tr > th,
.tab-container .table > thead > tr > td,
.tab-container .table > tbody > tr > td,
.tab-container .table > tfoot > tr > td {
    vertical-align: middle;
}

.tab-container .table > thead > tr > th,
.tab-container .table > tbody > tr > th,
.tab-container .table > tfoot > tr > th,
.tab-container .table > thead > tr > td,
.tab-container .table > tfoot > tr > td {
    font-size: 12px;
}

.t-n {
    top: 0;
}

.b-n {
    bottom: 0;
}

.l-n {
    left: 0;
}

.r-n {
    right: 0;
}

.m-auto {
    margin: auto;
}

.w-half-xxs {
    width: 26px;
}

.h-half-xxs {
    height: 28px;
}

.p-none {
    padding: 0 !important;
}

.p-b-none {
    padding-bottom: 0 !important;
}

.border-color-none {
    border-color: transparent !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-bottom-width: 2px;
}

.nav-tabs-alt .nav-tabs a.border-color-none {
    border-color: transparent !important;
}

.eventStyle {
    background-color: #F6F8F8;
    border-radius: 3px;
}

.m-r-10 {
    margin-right: 10px !important;
}

#view-selector-container .ViewSelector2 > .ViewSelector2-item {
    display: inline-block;
    margin-right: 20px;
}

.m-r-10 {margin-right: 10px;}

.gapi-analytics-auth-styles-signinbutton {
    cursor: pointer;
}

#embed-api-auth-container > div:first-of-type {
    text-align: center;
}

#embed-api-auth-container > div:nth-of-type(2) {
    margin-bottom: 15px;
}

#view-selector-container .label {
    font-size: inherit;
}

#view-selector-container .FormField {
    border-color: #ccc;
}

.bg-black-opacity-important {
    background-color: rgba(32, 43, 54, 0.5) !important;
}

.loginModal {
    width: 400px;
    margin: -100px 0 0 -200px;
}
.loginModal button[type="submit"] {
    height: 34px;
}

.fast-add-menu i {
    color: #D0D0D2;
}

.fast-add-menu a:hover i {
    color: inherit;
}

#header .dropdown-menu.animated {
    -webkit-animation-duration: 0.33s;
    animation-duration: 0.33s;
}
/***** wrapper_width_cats menu-cats *****/
.wrapper_width_cats a.active,
.wrapper_width_cats a:hover {
    background: #fff!important;
}
.wrapper_width_cats ul.menu-cats li {
    list-style: none;
    position: relative;
}
.wrapper_width_cats ul.treeline > li:not(:only-child),
.wrapper_width_cats ul.treeline li li {
    position: relative;

}
.wrapper_width_cats ul.treeline li:not(:last-child) {
    border-left: 2px solid #eee;
    z-index: 1;
}

.wrapper_width_cats ul.treeline li li:before,
.wrapper_width_cats ul.treeline > li:not(:only-child):before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 1em;
    height: .9em;
    border-bottom:2px solid #eee;
    z-index: 2;
}
.wrapper_width_cats ul.treeline li:last-child:before {
    width: 1.1em;
    border-left: 2px solid #eee;
    z-index: 1;
}
.wrapper_width_cats .menu-cats-nesting:before {
    width: 0!important;
}

/******/
.wrapper_width_cats ul.treeline li a:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 0;
}
.wrapper_width_cats ul.treeline>li a:before {
    width: calc(100% + 43px);
}
.wrapper_width_cats ul.treeline>li>ul>li a:before {
    width: calc(100% + 85px);
}
.wrapper_width_cats ul.treeline>li>ul>li>ul>li a:before {
    width: calc(100% + 126px);
}
.wrapper_width_cats ul.treeline>li>ul>li>ul>li>ul>li a:before {
    width: calc(100% + 166px);
}
/*******/

.wrapper_width_cats ul.treeline li a:hover:before {
    background: #f5f5f5;
}
.wrapper_width_cats ul.treeline li a span{
    position:relative;
    z-index:1;
}
/****** /wrapper_width_cats menu-cats *****/
/***** header .dropdown-menu .header-menu-wood *****/
.header-menu-wood ul#header_cat_menu {
    /*background: #1d202d;*/
    padding-left: 15px;
    padding-bottom: 2px;
}

.header-menu-wood ul#header_cat_menu li a {
    color: #000!important;
}
.header-menu-wood ul#header_cat_menu li a span{
    position:relative;
    z-index:1;
}
.header-menu-wood ul#header_cat_menu li a:hover {
    color: #000;
}

#header .header_left_col .header_drop_menu.header-menu-wood ul li a:hover,
#header .header_left_col .header_drop_menu.header-menu-wood ul li a:focus,
#header .header_left_col .header_drop_menu.header-menu-wood ul li span:hover,
#header .header_left_col .header_drop_menu.header-menu-wood ul li span:focus {
    background: #f5f5f5;

}

/******/
#header .header_left_col .header_drop_menu.header-menu-wood ul li a:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 0;
}
#header .header_left_col .header_drop_menu.header-menu-wood>ul>li a:before {
    width: calc(100% + 15px);
}
#header .header_left_col .header_drop_menu.header-menu-wood>ul>li>ul>li a:before {
    width: calc(100% + 50px);
}
#header .header_left_col .header_drop_menu.header-menu-wood>ul>li>ul>li>ul>li a:before {
    width: calc(100% + 85px);
}
#header .header_left_col .header_drop_menu.header-menu-wood>ul>li>ul>li>ul>li>ul>li a:before {
    width: calc(100% + 120px);
}
#header .header_left_col .header_drop_menu.header-menu-wood ul li a:hover:before {
    background: #f5f5f5;
}
/*#header .header_left_col .header_drop_menu.header-menu-wood>ul>li>ul>li>ul>li:after {
    width: 0;
}*/
/*******/

.header-menu-wood .treeline,
.header-menu-wood .treeline ul,
.header-menu-wood .treeline li {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

.header-menu-wood .treeline ul {
    margin: 0 0 0 15px;
}

.header-menu-wood .treeline > li:not(:only-child),
.header-menu-wood .treeline li li {
    position: relative;
    padding: 4px 0 4px 20px;
}
.header-menu-wood .treeline li:not(:last-child):after{
    content:'';
    position: absolute;
    width:2px;
    background-color:#eee;
    height:100%;
    left: 0;
    top:0;
}


.header-menu-wood .treeline li.menu-wood-li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: .9em;
    border-bottom: 2px solid #eee;
    z-index: 1;
}

.header-menu-wood .treeline li.menu-wood-li:before {
    width: 1.3em;
    border-left: 2px solid #eee;
}

/***** /header /.dropdown-menu /.header-menu-wood *****/

#header .header_left_col .header_drop_menu.header-menu-wood ul li > a,
#header .header_left_col .header_drop_menu.header-menu-wood ul li > span {
    padding: 4px 3px 6px!important;
    transition: all 0s!important;

}
#header .header_left_col .header_drop_menu.header-menu-wood ul li:first-of-type {
    padding-top: 0px;
}

.header-menu-wood button.header_cat_btn .caret,
.header_drop_menu button.header_add_menu .caret {
    margin-left: 5px;
}
.header_order_link {
    color: #0a0c12!important;
    font-weight: 500!important;
}
/**** /header .dropdown-menu  *****/

.adminLogo {
    background-color: #58666E;
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    display:  inline-block;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.app-aside-dock .app-aside .navi > ul > li > a > i {
    font-size: 15px;
}

.text-solomono {
    color: #f4dc47;
}

.dayOrderStyle {
    color: rgba(88, 102, 110, 0.58);
}

.label.dayOrderStyle {
    min-width: 85px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    color: white;
    background-color: #58666E;
}

.bg-warning-dark {
    background-color: #FAB433;
    color: #fff;
}

.easyPieChart > div.innerText  {
    width: 100%;
    line-height: normal;
}

.dateEventInfo, .dateCommentInfo {
    font-size: 11px;
    color: #788185;
}
.dateEventInfo {
    margin-top: 12px;
}
.dateCommentInfo {
    margin-top: 3px;
}

.commentListLogo {
    background-color: #58666E;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    display:  inline-block;
    line-height: 30px;
    text-align: center;
}

#modules-list {
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 0;
}

#modules-list .btn-xs {
    height: 18px;
    width: 28px;
    border-radius: 8px;
}

#modules-list .btn-xs i {
    line-height: 16px;
}

#modules-list .btn-xs.bg-success:hover,
#modules-list .btn-xs.bg-success:focus {
    background-color: #9ee4af;
}

#modules-list .btn-xs.bg-success:hover i,
#modules-list .btn-xs.bg-success:focus i {
    color: inherit;
}

#modules-list li {
    height: 20px;
}

.i-switch-xs {
    width: 28px;
    height: 16px;
}

.i-switch-xs input:checked + i:after {
    margin-left: 12.8px;
}

.i-switch-xs i:after {
    width: 14.4px;
}

#modules-list .i-switch-xs {
    margin-top: 2px;
}

#modules-list .i-switch.disabled {
    cursor: default;
}

#modules-list a .i-switch.disabled {
    cursor: pointer;
}

.text-center .i-switch input:checked + i:after {
    /* margin-left: -1px;*/
}

.app-aside-dock .app-aside .navi > ul {
    display: table;
    width: 100%;
    padding: 0 16px;
}

.app-aside-dock .app-aside .navi > ul > li {
    display: table-cell;
    float: none;
}

.app-aside-dock .app-aside .navi li:hover > .nav-sub.nav-sub-right {
    left: auto !important;
    right: 0 !important;
}

.no-padder-t {
    padding-top: 0 !important;
}

.no-padder-b {
    padding-bottom: 0 !important;
}

.no-padder-t-b {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padder-l {
    padding-left: 0 !important;
}

.no-padder-r {
    padding-right: 0 !important;
}

.no-padder-l-r {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#events-tabs.nav-tabs > li a i.wrapper-sm {
    padding-left: 6px;
    padding-right: 6px;
}

.status-heading {
    height: 40px;
    line-height: 40px;
}

.status-heading > a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#latest-orders .table td:first-of-type > a {
    width: 100%;
    max-width: 100px;
}

#latest-orders .table td:nth-of-type(odd) {
    padding-left: 3px;
    padding-right: 3px;
}

#latest-orders .table th:nth-of-type(3),
#latest-orders .table th:nth-of-type(4) {
    max-width: 30%;
}
.admin_label {
    float: left;
}

.admin_switch {
    margin-bottom: 5px;
}

.attrs_product {
    color: #999999;
    font-size: 13px;
}
.switchValue {
    visibility: hidden;
}

.colorpicker {
    z-index: 1060;
    display: none;
}

.modal-align {
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin: 0 auto !important;
}

.modalModifiedInfo {
    font-size: 12px;
}

.editable-wrap .editable-controls{
    margin-bottom: 0;
}

.editable-wrap {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
}
.ajax-loader::after {
    margin-left: 5px;
    /* .text-info */
    color: #23b7e5;
    /* .fa */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* .fa-spinner */
    content: "\f110";
    /* .fa-spin */
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.table .ajax-loader::after {
    font-size: 18px;
}
.table .editable {
    cursor: pointer;
}
.table .editable ~ form > * {
    float: left;
    margin-left: 10px;
}
.table .editable ~ form > button {
    height: 34px;
}

.translater_nav .fa {
    margin-right: 10px;
}

.f-l {
    float: left;
}

.pagination .dropdown-menu {
    min-width: 100%;
}

.btn-link.btn-link-icon,
.btn-link.btn-link-icon:active,
.btn-link.btn-link-icon:focus,
.btn-link.btn-link-icon:hover {
    text-decoration: none;
}

.no-border-i,
.no-borders-i {
    border-color: transparent !important;
    border-width: 0 !important;
}

.form-control {
    max-width: 100%;
    cursor: pointer;
}

.modal-body .alert:last-of-type {
    margin-bottom: 15px;
}
.btn_logoff{
    display: inline-block;
    padding: 10px 30px;
    background-color: #27c24c;
    border-radius: 20px;
    color: white!important;
}
.green_plus {
    display: inline-flex;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
}
.green_plus:hover, .green_plus:focus {
    border: none;
    box-shadow: none;
    background: transparent;
}
/*for admin new*/
/*for admin new*/
.table > tbody > tr > td{
    vertical-align: middle;
}
.payment_modules.table > tbody > tr > td {
    vertical-align: top!important;
}
#own_table tbody > tr > td img {
    max-height: 100px;
    max-width: 100%;
}
#own_table tbody > tr > td[data-name="products_options_values_image"] img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
#own_table tbody > tr > td[data-name="manufacturers_image"] img {
    max-height: 60px;
    max-width: 120px;
}
.fz-12{
    font-size: 12px;
}
#own_pagination .disabled svg { opacity: 0.3 }

#own_pagination span:hover { background-color: #fff }

#own_pagination .pagination, #own_pagination .pagination span {
    height: 30px;
    margin: 0;
    color: #393f4f;
}
#own_pagination .pagination .active .current {
    background-color: #393f4f;
    color: #fff;
    border-color: #393f4f;
}
#own_pagination li{
    cursor: pointer;
}
#own_pagination span svg:hover {
    color: #eff3f4 !important;
}
#own_pagination svg {
    width: 6px;
    height: 10px;
    color: #393f4f;
}
#own_table{
    table-layout: fixed;
    overflow: hidden;
    border: none;
    margin: 0;
}
#own_table,#own_table >thead>tr>th{
    position: relative;
    vertical-align: text-top;
}
#own_table >thead>tr>th {
    border: 1px solid rgba(0,0,0,0.1);
}

#own_table >thead>tr>th>i.fa.fa-sort{
    position: absolute;
    right: calc(0% + 0px);
    cursor: pointer;
    padding: 0 5px;
    top: 10px;
}
#own_table >tbody>tr>td{
    position: relative;
    border:1px solid rgba(0,0,0,0.1);
}
#own_table >tbody>tr>td[data-name="products_options_values_image"] {
    text-align: center;
}
#own_table >tbody>tr>td:last-child{
    text-align: center;
}
#own_table >thead>tr>th[data-table="status"]{
    width: 80px;
}
#own_table >thead>tr>th[data-table="customers_name"]{
    width: 100px;
}
#own_table >thead>tr>th[data-table="order_total"] {
    width: 95px;
}
#own_table >thead>tr>th[data-table="orders_status_name"]{
    width: 175px;
}
#own_table.orders >thead>tr>th[data-table="id"]{
    width: 100px;
}
#own_table >thead>tr>th[data-table="date_purchased"]{
    width: 180px;
}
#own_table >thead>tr>th.add_row {
    width: 85px;
}
#own_table.orders tbody>tr>td[data-name="orders_status_name"] {
    cursor: pointer;
}
#own_table.orders>thead>tr>th[data-table="dynamic"] {
    width: 50px;
}
table.orders_status_history tbody>tr>td>i.fa-check {
    color:#18c336;
}
table.orders_status_history tbody>tr>td>i.fa-times {
    color: #ff0000;
}
#own_table.template >thead>tr>th[data-table="slider_width"]{
    width: 250px;
}
#own_table.articles tbody>tr>td[data-name="articles_name"],#own_table.articles tbody>tr>td[data-name="sort_order"] {
    cursor: pointer;
}
#own_table.newsletters >thead>tr>th[data-table="title"] {
    display: flex;
    align-items: center;
    border-bottom: none;
    border-right: none;
}
#own_table.newsletters >thead>tr>th[data-table="title"] input.search{
    margin: 0 10px;
}
#own_table.newsletters >thead>tr>th[data-table="title"] i.fa {
    top: 14px;
}
#own_table.newsletters >thead>tr>th[data-table="content_length"],
#own_table.newsletters >thead>tr>th[data-table="module"],
#own_table.newsletters >thead>tr>th[data-table="sent"] {
    width: 180px;
}

.article_field_header {display:block;padding:6px 0 0 0!important;font-size:12px;color:#999;}
.articles_control_buttons {margin-top:15px;}
.articles_control_buttons .btn-success {margin:0;}
.articles_control_buttons_top {margin-top: -42px;pointer-events: none;}
.articles_control_buttons_top * {pointer-events: auto;}


#modal_form.disabled {
    pointer-events: none;
    background-color: #efeaea;
}
#modal_form input.pr.disabled {
    pointer-events: none;
    background-color: #efeaea;
}
.ft_own.fa-times{
    position: absolute;
    top:9px;
    right:-9%;
    cursor: pointer;
}
.ft_own.fa-times:hover{
    color: red;
}
#own_table .change input{
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    max-width: 80px;
    text-align: center;
    border: 0;
    width: 26px;
    height: 27px;
}
#own_table .change.active input:not(:disabled){
    border: 1px solid #e3f1e9;
    background-color: #dbe2db;
}
#own_table .action_ER >i{
    cursor: pointer;
    padding: 0 5px;
}

#own_table .action_ER{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: inherit;
    text-align: center;
    display: none;
}
/*total_configuration*/
#own_table td[data-name="configuration_key"],#own_table td[data-name="set_function"],#own_table td[data-name="configuration_value"]{
    word-break: break-all;
}
#own_table td[data-name="configuration_description"]{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
    cursor: pointer;
    /*max-height: 70px;*/
    /*display: block;*/
    /*overflow-x: hidden*/
}
#own_table.articles>thead>tr>th[data-table="sort_order"]{
    width: 120px;
}
#own_table .active .action_ER{
    display: block;
}
#own_table .action_ER>i.fa-check-circle:hover{
    color: #27c24c;
}

#own_table .action_ER>i.fa-times{
    font-size: 15px;
}
#own_table .action_ER>i.fa-times:hover{
    color: red;
}
.table > thead > tr > th >input.search, .table > thead > tr > th >select.search{
    border: 1px solid #ddd;
    border-radius: 7px;
    /*max-width: 100px;*/
    width: 100%;
    margin-top: 5px;
    padding: 2px 5px;
    font-size: 13px;
}
.nav.nav-tabs>li.active>a{
    background-color: #ffd400;
}
.wrapper-title{
    padding: 0 0 28px;
}
.wrapper-title .h3 {
    font-weight: 500;
    color: #2d3343;
    padding-top: 15px;
    margin-right: 10px;
}
.nav.nav-tabs>li>a{
    padding:10px;
}

.wrapper_products_attributes_val,.wrapper-scroll{
    overflow: auto;
}
.wrapper_products_attributes_val{
    height: 200px;
}
/*https://css-tricks.com/custom-scrollbars-in-webkit/*/
.wrapper_products_attributes_val::-webkit-scrollbar,.wrapper-scroll::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}

.wrapper_products_attributes_val::-webkit-scrollbar-track,.wrapper-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.wrapper_products_attributes_val::-webkit-scrollbar-thumb,.wrapper-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
/*-----------------------------*/
.tooltip_own{
    position: fixed;
    z-index: 9999;
    top: 40%;
    left: 50%;
    color: #58666e;
    padding: 15px 35px;
    max-width: 260px;
    transform: translate(-50%,-40%);
    background-color: rgba(244,220,71,0.8);
    border-radius: 10px;
    font-family: cursive;
    white-space: normal;
}
#test .table {  margin-bottom: 0 }

.ajax_load{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #393f4f;
    z-index: 999;
    font-size: 36px;
    font-weight: 500;
}
.ajax_load .spin {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: solid 6px #393f4f;
    background-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    margin-right: 30px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

.nav_table{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 3px 10px;
}
.nav_table>a.link{
    display: table-cell;
    padding: 15px;
    border-radius: 2px;
    outline: 0;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: #f4dc47;
    font-weight: 500;
}

#tab>li{
    margin: 10px 0;
}
#tab>li>a{
    background-color: #f4dc47;
}
.nav_table>a.link:hover,.nav_table>a.link.active,#tab>li>a:hover,#tab>li>a.active{
    background-color: #f4c547;
}

.btn_own{
    border: 0;
    outline: 0;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 0 5px;
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle-round + label {
    /* padding: 2px; */
    width: 35px;
    height: 20px;
    /* background-color: #dddddd; */
    border-radius: 60px;
    padding-left: 40px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #dddddd;
    border-radius: 60px;
    transition: background 0.4s;
    width: 35px;
    height:20px;
}
input.cmn-toggle-round + label:after {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid #dddddd;
    background-color: #fff;
    border-radius: 100%;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #2172ff;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 16px;
}
/*-----------------*/
/*articles new*/
ul#topics{
    padding-left: 0;
    margin-bottom: 20px;
}
ul#topics>li:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex !important;
    justify-content: flex-end !important;
}
ul#topics>li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #ddd;
}
ul#topics li{
    list-style-type: none;
    position: relative;
    display: block;
}
ul#topics>li{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}
ul#topics>li.active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #efefef;
}
ul#topics>li a {
    padding-left: 10px;
}
ul#topics>li.active span.badge.active {
    top: 8px;
}
ul#topics>li.active ul .animated {
    -webkit-animation-duration: 0s!important;
    animation-duration: 0s!important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
ul#topics>li.active ul li.slideInLeft {
    padding: 10px 10px 10px 20px;
}
/*ul#topics>li.active ul li.slideInLeft span {
    top: 25%;
}*/

ul#topics li:hover{
    background-color: #e8e6e6;
}
ul#topics ul{
    padding-right: 0;
    padding-left: 0;
    background: #fff;
}
ul#topics ul li{
    padding: 10px 0 10px 15px;
}
ul#topics a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    /*display: block;
    width: 100%;
    padding: 10px 0 10px 15px;*/
}
ul#topics .settings_cat {
    position: absolute;
    top: 25%;
    right: 15px;
}

ul#topics li>span.badge{
    cursor: pointer;
    /* float: right; */
    /* right: 10px; */
    /*left: 110px;
    top: 8px;*/
    width: 25px;
}
ul#topics .settings_cat,ul#topics li div.drop-icons >i{
    cursor: pointer;
    height: 16px;
}
ul#topics .settings_cat:hover,ul#topics li>span.badge:hover,ul#topics li div.drop-icons >i:hover{
    color: rgb(151, 158, 147);
}
ul#topics li>span.badge.active{
    color: rgba(0, 0, 0, 0.28);
    /*padding: 3px 10px; !** **!*/
}
ul#topics li ul li.slideInLeft.animated a {
    padding: 0;
    padding-left: 10px;
}

ul#topics li>span.item + ul{
    display: none;
}
ul#topics li>span.item.active + ul{
    display: block;
}
ul#topics li .settings_cat {
    top: 10px;
    z-index: 10;
}
ul#topics li ul li .settings_cat {
    top: 10px;
}
ul#topics ul li.active {
    padding: 10px 0 10px 0px;
}
ul#topics li div.drop-icons{
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    padding: 10px 15px;
    background-color: #fff;
}
/*ul#topics li div.drop-icons >i{*/
/*padding: 0 10px;*/
/*}*/
ul#topics li div.drop-icons >i:not(:first-child){
    padding: 0 0 0 15px;
}
form div[data-lang]:not(.active),
form div[data-lang][style*=none][class*=none]
{
    display: none;
}
form div[data-lang][class][style*='position']
{
    display: block;
}
.plus.fa-plus-circle{
    color: #27c24c;
    cursor: pointer;
    float: right;
}
.plus.fa-plus-circle:hover{
    color: #69c227;;
}
.chose-cat{
    position: absolute;
    top: 0;
    left: 13px;
    right: 0;
    padding: 3px;
    background-color: #fff;
}

.chose-cat>.form-control{
    left: 0;
    width: calc(100% - 80px);
    position: relative;
    display: inline-block;
    padding: 5px;
}
.chose-cat .list-action{
    display: inline-block;
}
.chose-cat .list-action .fa-check-circle{
    margin-left: 10px;
    color: #27c24c;
    cursor: pointer;
}
.chose-cat .list-action .fa-check-circle:hover{
    color: #69c227;;
}
.chose-cat>.form-control option:disabled{
    display: none;
}
.ckeditor_outer > textarea {
    width: 100%;
    background: #eee;
    border: 0;
    display: none;
}
.ckeditor_outer {
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
.ck_replacer {
    background: #eee;
    padding: 7px;
    cursor: pointer;
    min-height: 50px;
    max-height: 400px;
    overflow: hidden;
}
.ckeditor_outer > .cke_editable {
    background: #fff;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    padding: 7px;
    min-height: 50px;
    max-height: 400px;
    overflow-y: scroll;
}
/*-----------------*/
/*order in header*/

#orders{
    height: 50px;
    position: fixed;
    width: 100%;
    top: 115px;
    z-index: 888;
    padding: 5px 5px;
    background-color: aliceblue;
}
/* template*/
ul.sortable.template >li{
    cursor: move;
}
ul.sortable.template >li:hover{
    background-color: rgba(146,152,156,0.31);
}
ul.template >li{
    padding-right: 45px;
}
ul.sortable.template>li:before{
    content: "\f142";
    padding-right: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
/*.template >li>i.fa-ellipsis-v{*/
/*padding-right: 10px;*/
/*}*/
form .template div.status{
    vertical-align: sub;
    position: absolute;
    right: 3px;
    cursor: pointer;
    display: inline-block;
    top: 10px;
    /* transform: translateY(-50%); */
}
/*-----------------*/

/*for debug*/
/*#debug h1{*/
/*text-align: center;*/
/*letter-spacing: 35px;*/
/*color: red;*/
/*font-weight: 900;*/
/*font-family: cursive;*/
/*}*/
#debug{
    position: fixed;
    top: 185px;
    left: 3%;
    overflow: auto;
    z-index: 99999;
}
#debug>i.fa-bug{
    color: red;
    cursor: pointer;
}
#debug>i.fa-bug:hover{
    color: #ca7575;;
}
#debug.active{
    width:97%;
    height: 100%;
    padding-bottom: 185px;
}
#debug>div{
    display: none;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-radius: 3px;
}


#debug h3{
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}
#debug h3+*{
    display: none;
}
/*#debug h3+*.active{*/
/*display: block;*/
/*}*/
/*-----------------*/


/* products attributes */
.products_attributes_id .wrapper-title {
    padding: 28px 0;
}

#tabs-attr{
    padding-top: 20px;
}


.products_options td[data-name="products_options_name"], .products_options_values td[data-name="products_options_values_name"]{
    cursor: pointer;
}

.products_options td[data-name="products_options_name"]:hover, .products_options_values td[data-name="products_options_values_name"]:hover{
    text-decoration: underline;
}

.products_options_values  td[data-name="products_options_values_image"] img{
    border: solid 1px lightgrey;
    max-width: 100px;
    max-height: 100px;
}
/* products attributes */

#add { margin: 0; }

.languages_translater .breadcrumb {
    background: #fff;
    border-radius: 0 0 2px 2px;
    border: 1px solid #dee5e7;
    border-top: none;
}
.languages_translater .nav-tabs {
    background: #fff;
    border-radius: 2px 2px 0 0;
    border: 1px solid #dee5e7;
    /*border-top: none;*/
}
.languages_translater .pl-20 {
    padding-left: 20px;
}
.languages_translater .translater_content {
    padding: 10px 15px;
}
.languages_translater #add,.languages_translater #add_const{
    cursor: pointer;
    padding: 6px;
    width: 200px;
    margin-bottom: 15px;
    display: block;
}
.languages_translater .bg-white-only {
    border:1px solid #dee5e7;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.languages_translater .bg-white-only:after {
    content: '';
    display: block;
    clear: both;
}
.languages_translater .translater_nav {
    border-right: 1px solid #dee5e7;
    margin: 0;
}
.languages_translater .form-group {
    margin: 0 0 8px;
}
.form-control.error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/*xsell_product*/

.xsell_products th[data-table="products_id"]{
    width: 60px;
}

.xsell_products th[data-table="products_model"]{
    width: 180px;
}

.xsell_products th[data-table="products_image"]{
    width: 80px;
}

.xsell_products th[data-table="products_name"]{
    width: 25%;
}

.wrapper_xsell_products{
    max-height: 50vh;
    overflow: auto;
}

.wrapper_xsell_new_products{
    max-height: 50vh;
    overflow: auto;
    margin-bottom: 20px;
}

.wrapper_xsell_products .input_wrapper input{
    width: 40px;
    margin-right: 10px;
}

.wrapper_xsell_products .input_wrapper:hover{
    background-color: #dee5e7;
}

.wrapper_xsell_products .disabled{
    pointer-events:none;
    background-color: transparent;
    border: 0;
}

.wrapper_xsell_products .input_wrapper, .fa-trash-o{
    cursor: pointer;
}

/*Backup page*/
.container.backup{
    margin-bottom: 100px;
}

.container.backup .form-control{
    margin-bottom: 15px;
}

/*stats_keywords*/

#stats_keywords .input_wrapper{
    cursor: pointer;
}

#stats_keywords input.active{
    border: 1px solid #e3f1e9;
    background-color: #fafbfc;
}

#stats_keywords .disabled{
    pointer-events:none;
    background-color: transparent;
    border: 0;
}

#stats_keywords .input_wrapper input{
    width: 90%;
    margin-right: 10px;
}

.wrapper_stats_keywords .input_wrapper:hover{
    background-color: #dee5e7;
}

#most_viewed td[data-name="products_name"]:hover{
    cursor: pointer;
}

#stats_customers td[data-name="fio"]:hover{
    cursor: pointer;
}
.modal-open .colorpicker{
    z-index: 1100;
}
#own_table.customers th[data-table="phones"] {
    width: 130px;
}

#own_table.customers th[data-table="customers_id"] {
    width: 60px;
}

#own_table.customers th[data-table="customers_info_ordersum_value"] {
    width: 100px;
}

#own_table.customers th[data-table="customers_info_date_account_created"] {
    width: 110px;
}

#own_table.customers th[data-table="status"] {
    width: 70px;
}
#own_table.customers td[data-name="customers_email_address"],#own_table.customers td[data-name="phones"] {
    word-break: break-all;
}

#own_table.customers th:last-of-type {
    width: 140px!important;
}

.products_inner_left {
    float:left;
    width:100%;
    margin-right:-300px;
}
.products_inner_left-cont {
    margin-right:310px;
    /* width: calc(100% - 310px); */
    /* float: left; */
    overflow-x: scroll;
}
.products_inner_left-cont tr td:first-of-type {
    width: 130px!important;
}
.products_inner_right {
    float:right;
    width:300px;
}
#footer { margin-top: 20px }
.admin-coupon-language-box li.active>a,.admin-coupon-language-box li.active>a:focus,
.admin-coupon-language-box li.active>a:hover{
    border: 0;
}
@media (min-width: 970px) {

    ul.addNewPage, ul.addNewPage > li, ul.addNewPage > li > a {margin: 0px; padding: 0px;}

    ul.addNewPage {
        min-width: 320px;
        background-color: #212224;
        border-radius: 4px !important;
        padding-bottom: 6px;
        margin-top: 20px !important;
        left: -108px;
    }
    ul.addNewPage > li {
        width: 98px;
        background-color: #27282a;
        margin-top: 6px;
        margin-left: 6px;
        display: block;
        float: left;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    }
    ul.addNewPage > li:hover a {
        border-radius: 4px;
    }

    ul.addNewPage > li > a {padding: 30px 0 20px 0;text-align: center; color: #636768;}
    ul.addNewPage:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        top: -18px;
        left: 142px;
        position: absolute;
        border-style: solid;
        border-width: 0 21px 21px 21px;
        border-color: transparent transparent #212224 transparent;
    }
    ul.addNewPage i {display: block; font-size: 30px; margin-bottom: 20px;}

}

@media (min-width: 1600px) {
    .fix-width {
        max-width:1440px;
    }
    .container{
        width:1440px!important;
    }
}
@media (min-width: 400px) and (max-width: 1090px) {
    #modules-list li {
        padding: 0 10px;
        font-size: 13px;
    }
    .m-r {
        margin-right: 10px;
    }
}

@media (max-width: 399px) {
    .tab-container .table > thead > tr > td:not(:last-of-type),
    .tab-container .table > tbody > tr > td:not(:last-of-type),
    .tab-container .table > tfoot > tr > td:not(:last-of-type) {
        font-size: 10px;
    }

    .tab-container .table > thead > tr > td:nth-of-type(4),
    .tab-container .table > tbody > tr > td:nth-of-type(4),
    .tab-container .table > tfoot > tr > td:nth-of-type(4) {
        font-size: 11px;
    }

    #modules-list .col-xs-6 {
        width: 100%;
    }
}

@media (max-width: 439px) {
    .tab-container .table td:first-of-type {
        max-width: 50px;
    }

    .tab-container #overview-tabs.nav-pills > li {
        width: 30%;
    }
}

@media (max-width: 550px) {
    .tab-container .table > thead > tr > th,
    .tab-container .table > tbody > tr > th,
    .tab-container .table > tfoot > tr > th,
    .tab-container .table > thead > tr > td,
    .tab-container .table > tbody > tr > td,
    .tab-container .table > tfoot > tr > td {
        max-width: 50px !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #latest-orders .table th:nth-of-type(3),
    #latest-orders .table th:nth-of-type(4) {
        max-width: 30%;
    }

    .tab-container .table > tbody > tr > th,
    .tab-container .table > tfoot > tr > th,
    .tab-container .table > tbody > tr > td,
    .tab-container .table > tfoot > tr > td {
        padding-right: 6px;
        padding-left: 6px;
    }
    .loginModal {
        width: 300px;
        margin: 50% auto;
        position: unset;
    }
}

@media (max-width: 600px) {
    .tab-container .table td:first-of-type {
        max-width: 100px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

@media (max-width: 767px) {
    ._orinationRight_458 .button_9f3 {
        margin-right: 15px!important;
        margin-bottom: 72px!important;
    }
    ._orinationRight_458.wrap_abe {
        z-index: 990!important;
    }
    .popup_6b7 {
        z-index: initial;
    }
    .inner {
        top: 0;
        transform: none;
    }
    .off-screen {
        width: 40%;
    }
    #overflow_admin {
        position: fixed;
        display: block;
        left: -2000px;
        top: 50px;
        z-index: 4;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        cursor: pointer;
        transition: opacity .3s;
    }
    #overflow_admin.overflow_admin-open {
        left:0;
        opacity: 0.25;
        transition: opacity .3s;
    }
    .pos-rlt {
        position: fixed;
        bottom: 60px;
        width: 100%;
        background: #f4dc47;
    }
    .inner.innerLeft,
    .inner.innerRight {
        position: static;
        transform: none;
    }
    .wrapper_stats_customers span {
        margin-bottom: 10px;
        display: block;
    }
    .wrapper_stats_customers input[type='submit'] {
        margin-left: 0;
    }
    .nav_table {
        display: flex!important;
        flex-direction: column;
        /*justify-content: space-between;*/
        margin-top: 10px;
    }
    .nav_table>a.link {
        display: flex!important;
        white-space: unset!important;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 100%;
        margin-bottom: 5px;
    }
    .edit_orders input#search {
        margin: 15px 0;
    }
    .edit_orders .steps {
        display: flex;
        flex-direction: column;
    }
    .edit_orders .steps .dataTableContent:first-of-type {
        text-align: left;
        margin-bottom: 10px;
    }
    .edit_orders .steps .add_product_text {
        display: none;
    }
    .edit_orders .steps .add_prpoduct_btn {
        width: 80px;
        margin-top: 15px;
        float: left;
    }
    .edit_orders .customer_shipping_address {
        width: 100%;
    }

    .edit_orders .customer_shipping_address input.form-control {
        border: none;
        padding-left: 0;
    }
    .edit_orders .dataTableHeadingRow.buyer_data {
        display: none;
    }
    .edit_orders .customer_shipping_address tr::after {
        content: ' ';
        display: block;
        background: #f0f3f4;
        height: 30px;
    }
    .edit_orders .customer_shipping_address td{
        display: block;
        width: 100% \9;
        float: left\9;
        text-align: left;
        padding-left: 55%!important;
        border-bottom: 1px solid #cacaca!important;
        border-right:1px solid #cacaca!important;
        border-left:1px solid #cacaca!important;
        border-top: none;
        position: relative;
        min-height: 30px;
        font-size: 13px;
        line-height: 30px;
        background: #fff;
    }
    .edit_orders .customer_shipping_address>tbody tr>td {
        /*padding-left: 50%!important;*/
        max-width: 100%;
        width: 100%;
        padding: 0 0 0 50%!important;

    }
    .edit_orders .customer_shipping_address td:first-child {
        border-top: 1px solid #ddd;
    }
    .edit_orders .customer_shipping_address td:last-child {
        border-bottom: 1px solid #cacaca;
        text-align: left!important;
    }

    .edit_orders .customer_shipping_address td:before {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 49%;
    }

    .edit_orders .edit_orders_block {
        font-size: 13px;
    }
    .edit_orders .dataTableRow tr:not(.dataTableHeadingRow) > td {
        padding: 4px;
    }
    .edit_orders .shipping_amount,
    .edit_orders .status_notifications {
        padding-left: 0!important;
        display: block;
        width: 100%;
    }
    .edit_orders .table-responsive {
        border:none;
    }
    .edit_orders .form-control {
        font-size: 13px;
    }
    .edit_orders .edit_orders_header {
        flex-direction: column;
        align-items: flex-start;
    }
    .edit_orders .edit_orders_header .actions_btn {
        margin-top: 10px;
    }
    .edit_orders .edit_orders_products_table tr:nth-of-type(2) > td {
        padding: 2px 2px 15px;
    }
    .edit_orders .status_notifications .dataTableHeadingRow td,
    .edit_orders .shipping_amount .dataTableHeadingRow td {
        white-space: unset;
    }
    .edit_orders .actions_btn {
        text-align: left;
    }

    .new_index_navigation {
        position: fixed;
        z-index: 999;
        max-width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        /*bottom: 76px;*/
        height: 60px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to bottom, #525a71, #313646);
        color: #fff;
        display: flex!important;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
    .new_index_navigation a {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        font-size: 13px;
        font-weight: 500;
    }
    .new_index_navigation a .fa {
        font-size: 18px;
        margin-bottom: 3px;
    }
    .new_index_navigation a span {
        position: absolute;
        top: -8px;
        left: 27px;
        padding: 1px 2px;
        min-width: 17px;
        border-radius: 2px;
        background: #fff;
        color: #393f50;
        line-height: 1.4;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .h3, h3 {
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }
    .btn {
        font-size: 13px;
    }
    .modal {
        font-size: 13px;
    }
    .modal_order_details .col-md-4{
        padding: 0;
    }
    .const_filter, .val_filter {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
    }
    ul#topics {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        color: #333;
    }
    ul#topics>li:not(.active) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    ul#topics>li.active {
        background-color: #f5f5f5;
    }

    #aside .b-b {
        padding: 10px 30px;
    }
    .languages_translater .form-horizontal .form-group .no-padder{
        padding-right: 15px!important;
        padding-left: 15px!important;
        margin-bottom: 5px;
    }
    .form-horizontal.customers .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .app-aside-dock .app-aside .navi > ul {
        display: block;
        padding: 0;
    }
    .app-aside-dock .app-aside .navi > ul > li {
        display: block;
        float: left;
        width: 100%;
    }
    .dayOrderStyle {
        display: block;
    }
    #own_table td[data-name="configuration_description"] {
        white-space: unset!important;
    }
    #own_pagination {
        margin: 0 auto;
        text-align: center;
        padding-top: 15px;
    }
    .pagin_admin {
        text-align: center;
        padding-bottom: 15px;
    }
    .panel-default {
        border: none;
    }
    #action_orders {
        margin-bottom: 20px;
    }
    .table-striped.orders,
    #own_table {
        margin-top: 20px;
        position: relative;
    }
    #own_table thead,
    .table-striped.orders thead,
    .panel>.table-bordered:not(.configuration-table) thead {
        display: none;
    }
    #own_table >tbody>tr::after, .panel>.table-bordered:not(.configuration-table) >tbody>tr::after {
        content: ' ';
        display: block;
        background: #f0f3f4;
        height: 15px;
    }
    #own_table tr::after {
        display: none;
    }
    #own_table >tbody>tr>td {
        border: none;
    }

    #own_table >tbody>tr>td,
    .table-striped.orders >tbody>tr>td,
    .panel>.table-bordered:not(.configuration-table) >tbody>tr>td,
    .panel>.table-bordered.shipping_modules >tbody>tr>td{
        display: block;
        width: 100% \9;
        float: left\9;
        text-align: left;
        padding-left: 44%!important;
        border-bottom: 1px solid #cacaca!important;
        border-right:1px solid #cacaca!important;
        border-left:1px solid #cacaca!important;
        border-top: none;
        position: relative;
        min-height: 20px;
        font-size: 15px;
        word-break: break-all;
    }
    #own_table>tbody tr> td.datepicker {
        margin: 0;
    }
    #own_table .table_mobil_own tr> td .btn_own {
        font-size: 18px;
        /*margin: 53px 9px 0 0px;*/
        position: absolute;
        top: 35%;
        right: 6%;
    }
    .panel>.table-bordered.payment_modules>tbody tr>td {
        padding-left: 10px!important;
        padding-right: 10px;
        padding-top: 32px;
        max-width: 100%;
        width: 100%;
    }
    #own_table.stats_keywords td {
        padding-left: 40%!important;
        text-align: right;
    }
    #own_table.customers_groups td {
        padding-left: 65%!important;
    }
    #own_table td:first-child,
    .table-striped.orders td:first-child,
    .panel>.table-bordered:not(.configuration-table) td:first-child {
        border-top: 1px solid #ddd;
    }
    #own_table td:last-child,
    .table-striped.orders td:last-child,
    .panel>.table-bordered:not(.configuration-table) td:last-child {
        border-bottom: 1px solid #cacaca;
        text-align: right!important;
    }


    #own_table td:before,
    .table-striped.orders td:before,
    .panel>.table-bordered:not(.configuration-table) td:before,
    .panel>.table-bordered.shipping_modules td:before {
        content: attr(data-label);
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        width: 40%;
        text-align: left;
        padding: 0;
    }

    .panel>.table-bordered.payment_modules td:before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 50%;
        height: 290px;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        line-height: 29px;
    }
    #own_table.stats_keywords td:before {
        width: 40%;
    }
    #own_table.customers_groups td:before {
        width: 60%;
    }
    .panel>.table-bordered.configuration-table td {
        max-width: 49%;
        width: 49%;
        word-break: break-all;
        padding: 8px;
    }

    .articles_mob-wrapper {
        height: auto;
        padding: 0;
    }
    .articles_mob-wrapper #add {
        margin: 0;
    }
    .articles_mob-wrapper-md {
        padding: 15px;
    }
    .articles_mob-h3 {
        font-size: 18px;
        color: #333;
    }
    .articles_mob-xsell { display: none;}
    #own_table.articles_mob-tr { margin-top: 0; }
    #own_table.articles_mob-tr >tbody>tr>td {
        padding: 0 !important;
        border: none !important;
        display: flex;
        align-items: center;
        line-height: 1;
        color: #333;
    }
    #own_table.articles_mob-tr >tbody>tr::after {
        content: none;
    }
    #own_table.articles_mob-tr >tbody>tr>td:first-child {
        width: 8px;
        order: 0;
        color: rgba(0, 0, 0, 0.3);
    }
    #own_table.articles_mob-tr >tbody>tr>td[data-name="articles_name"] {
    }
    #own_table.articles_mob-tr >tbody>tr>td:nth-child(3) {
        width: 38px;
        margin: 0 15px 0 10px;
        order: 0;
    }
    #own_table.articles_mob-tr >tbody>tr>td:last-child {
        justify-content: flex-end;
        width: 400px;
        color: rgba(0, 0, 0, 0.5);
    }
    #own_table.articles_mob-tr >tbody>tr {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-top: 1px solid #eee;
    }
    #own_table.articles_mob-tr >tbody>tr> td {
        width: 100%;
        order: 1;
    }
    #own_table.articles_mob-tr >tbody>tr>td:before {
        content: none;
    }
    #own_table >tbody>tr>td[data-name="search_count"]:before {
        width: 98%;
        text-align: left!important;
    }
    #own_table >tbody>tr>td[data-name="search_text"]:before {
        width: 98%;
        text-align: left!important;
    }
    .stats_customers_mob {
        display: inline-block;
        position: relative;
        overflow-x: scroll;
        width: auto;
    }
    .stats_customers_mob table {
        width: 1000px!important;
    }
    /****/
    .fix-width #own_table .table_mobil_own tr {
        display: flex;
        flex-direction: column;
        min-height: 282px;
        position: relative;
    }

    .fix-width #own_table .table_mobil_own tr td:nth-child(1) {
        order: 2;
        height: 43px;
        border-top: none!important;
        margin-bottom: 100px;
    }
    .fix-width #own_table .table_mobil_own tr td:nth-child(4) {
        order: 1;
        border-top: 1px solid #d2d2d2;
        height: 81px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fix-width #own_table .table_mobil_own tr td:nth-child(5) {
        order: 6;
        height: 120px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fix-width #own_table .table_mobil_own tr td:nth-child(2) {
        order: 4;
        width: 33%;
        padding-left: 0!important;
        height: 100px;
        border-left: none!important;
        border-right: none!important;
        position: absolute;
        top: 100px;
        right: 33%;
        padding-top: 45px;
    }
    .fix-width #own_table .table_mobil_own tr td:nth-child(2):before {
        top: 35px;
        text-align: center;
    }

    .fix-width #own_table .table_mobil_own tr td:nth-child(3) {
        order: 3;
        width: 34%;
        height: 100px;
        padding-left: 0!important;
        position: absolute;
        top: 100px;
    }
    .fix-width #own_table .table_mobil_own tr td:nth-child(6) {
        order: 5;
        width: 33%;
        height: 100px;
        padding-left: 0!important;
        position: absolute;
        top: 100px;
        right: 0;
    }
    #own_table .table_mobil_own td[data-name="products_image"]:before {
        display: none;
    }
    #own_table .table_mobil_own td[data-name="products_image"] img {
        width: 80px;
        height: 80px;
        background-size: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #own_table .table_mobil_own td[data-name="products_model"] {
        text-align: center;
    }
    #own_table .table_mobil_own td[data-name="products_model"]:before {
        margin-left: 1%;
        width: 81%;
    }
    #own_table .table_mobil_own .btn_own edit_row {
        text-align: center;
        margin-top: 20%;
    }
    #own_table .table_mobil_own [data-name="products_id"] {
        text-align: right;
    }
    #own_table .table_mobil_own [data-name="products_id"]:before {
        text-align: left;
    }

}

.stats_customers_table {
    border: 1px solid #e7e7e7;
    border-bottom: none;
}
.stats_customers_table .main .b-b {
    border-bottom: none;
}
.stats_customers_table .wrapper-md {
    padding-bottom: 0;
}
.stats_customers_table .main form {
    background: #fff;
    padding: 20px 0 20px 15px;
}
.stats_customers_table .main form [type=text],
.stats_customers_table .main form [type=text] {
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font: 500 13px 'Roboto', sans-serif;
    font-size: 13px!important;
    padding: 6px 12px;
    height: 30px;
    width: 120px;
    color: #000;
}
.stats_customers_table .main form [type=submit] {
    height: 32px;
    vertical-align: top;
    margin-top: 3px;
}
/******* stats_recover_cart_sales ******/

.stats_recover_cart_sales .title_page {
    font-size: 24px;
}
.stats_recover_cart_sales .dataTableHeadingRow {
    background: #fff;
    width: 100%;
    border: 1px solid #e9e9e9;
}
.stats_recover_cart_sales .dataTableRow {
    border: 1px solid #e9e9e9;
    border-top: none;
}
.stats_recover_cart_sales .dataTableRow .datatablecontent {
    padding: 8px 5px;
    border-right: 1px solid #e9e9e9;
}
.stats_recover_cart_sales .dataTableHeadingRow .content_text {
    padding: 20px 5px;
    font: 600 13px 'Roboto', sans-serif;
    border-right: 1px solid #e9e9e9;
}
.stats_recover_cart_sales .dataTableHeadingRow .border_none,
.stats_recover_cart_sales .dataTableRow td:nth-last-child(2) {
    border-right: none;
}
/******/

.stats_recover_cart_sales .dataTableHeadingRow .indent_row {
    padding-left: 15px;
}
.stats_recover_cart_sales .dataTableRow:hover {
    background-color: #f5f5f5;
}
.stats_recover_cart_sales .main-footer {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-top: none;
}
.stats_recover_cart_sales .main-footer td {
    padding: 12px 5px;
}
.stats_recover_cart_sales .dataTableRow {
    background: #fff;
}
.stats_recover_cart_sales .pageHeading form .dataTableContent [type=text] {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font: 500 13px 'Roboto', sans-serif;
    font-size: 13px!important;
    padding: 6px 12px;
    height: 30px;
    width: 100px;
    color: #000;
}
.stats_recover_cart_sales .pageHeading form .dataTableContent [type=submit] {
    color: #ffffff !important;
    background-color: #2172ff;
    border: 1px solid #2172ff;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 3px;
    font: 500 13px 'Roboto', sans-serif;
    font-size: 13px!important;
    min-width: 60px;
    padding: 6px 12px;

}
.stats_recover_cart_sales .pageHeading form .dataTableContent [type=submit]:hover {
    color: #ffffff !important;
    background-color: #19a9d5;
    border-color: #189ec8;
}
/****** admin_members ********/
.admin_members .nav_table {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #dddddd;
}
.admin_members .nav_table>a.link {
    display: inline-table;
    padding: 10px 15px;
    border: 2px solid #f0f0f0;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.05);
}
.admin_members .nav_table {
    border-spacing: 0;
}
.admin_members .wrapper-title {
    padding: 28px 0 28px;
}
.admin_members #change_pass {
    position: absolute;
    top: -70px;
    right: 70px;
}
.admin_members .nav_table>a.link.active,
.admin_members #tab>li>a:hover, #tab>li>a.active {
    background-color: #ffd400;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.admin_members .nav_table>a.link.active:hover,
.admin_members #tab>li>a:hover, #tab>li>a.active:hover {
    background-color: #ffd400;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}
.admin_members .nav_table>a.link:hover {
    border: 2px solid #e9e9e9;
    border-top: none;
    border-radius: 2px 2px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
}
.admin_members .nav_table>a.link-noactive {
    background-color: rgba(240, 243, 244, 0.05);
    border: 2px solid #f0f3f4;
    border-top: none;
}

/************************* .wrapper_home_menu ********************************/
.wrapper_home_menu {
    margin-bottom: 30px;
    background: #fff;
    padding: 60px 0px 40px 0px;
    width: 100%;
    margin-top: -53px;
    padding-left: 280px;
}
.wrapper_home_menu .block_home_menu {
    margin: 0 auto;
    max-width: 1170px;
}

/*******/
.wrapper_home_menu .pointer_menu p {
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 5px;
}
.wrapper_home_menu .pointer_menu svg {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -10px;
    top: 11px;
}
.wrapper_home_menu .customization_menu svg {
    width: 16px;
    height: 16px;
    fill: rgba(255, 255, 255, 0.5);
}
.wrapper_home_menu .pointer_menu,
.wrapper_home_menu .customization_menu {
    position: absolute;
    top: 57px;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 var(--black-10);
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 101;
}
.wrapper_home_menu .pointer_menu {
    width: 161px;
    padding: 5px;
    right: 63px;
}
.wrapper_home_menu .customization_menu {
    width: 34px;
    height: 34px;
    right: 11px;
    cursor: pointer;
}
.wrapper_home_menu .wrapper-pointer-customization .pointer_menu {
    display: none;
}
.wrapper_home_menu .wrapper-pointer-customization:hover .pointer_menu {
    display: block;
}
/********/
.wrapper_home_menu .menu_wrap .menu_close {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 25px;
    color: #b4b4b4;
}
/********/

.wrapper_home_menu .menu_wrap .menu_text ul {
    padding: 0 0 20px 0;
    margin: 0;
    max-width: 217px;
    max-height: 52px;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.wrapper_home_menu .menu_wrap .menu_text ul li {
    list-style: none;
    display: inline;
    padding-right: 3px;
    white-space: nowrap;
}
.wrapper_home_menu .menu_wrap .menu_text ul li:not(:last-of-type):after {
    content: ',';
    color: #ccc;
    margin-left: -1px;
    font-size: 14px;
    font-weight: 500;
}
.wrapper_home_menu .menu_wrap .menu_text ul li:not(:last-of-type):hover:after {
    content: ',';
    color: #000;
    margin-left: -1px;
    font-size: 14px;
    font-weight: 500;
}
.wrapper_home_menu .menu_wrap .menu_text ul li a {
    opacity: 0.4;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #000000;
}
.wrapper_home_menu .col_menu:hover .menu_text ul li a{
    opacity: 0.9;
    color: #6c707b;
}
.wrapper_home_menu .menu_wrap .menu_text ul li a:hover {
    color: #000;
    opacity: 0.9;
}
.wrapper_home_menu .col_menu:hover .menu_text ul li:not(:last-of-type):after {
    content: ',';
    opacity: 0.9;
    color: #6c707b;
    margin-left: -1px;
    font-size: 14px;
    font-weight: 500;
}
.wrapper_home_menu .menu_wrap .menu_text .ul_menu_text li a span {
    margin-right: 2px;
}
.wrapper_home_menu .menu_wrap .menu_text .ul_menu_text li {
    display: inline-block;
}
/**********/
.wrapper_home_menu .menu_wrap .menu_text {
    display: inline-block;
    width: calc(100% - 96px);
    vertical-align: top;
    padding: 0 0 0 20px;
}
.wrapper_home_menu .menu_wrap .menu_text h4 {
    padding-left: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #2c2525;
}
.wrapper_home_menu .menu_wrap .menu_text h4 span {
    font-size: 15px;
    position: absolute;
    border-radius: 3px;
    background: #f4dc47;
    color: #000000;
    margin-left: 7px;
    padding: 2px 4px;
    margin-top: 2px;
}
/***********/
.wrapper_home_menu .menu_wrap .menu_img {
    display: inline-block;
    max-width: 96px;
    max-height: 96px;
    text-align: center;
    vertical-align: top;
    margin-top: 16px;
    margin-left: 16px;
}
.wrapper_home_menu .menu_wrap .menu_img img {
    width: 100%;
    max-width: 64px;
    object-fit: contain;
    text-align: center;
}
.app-header-fixed .aside-wrap:hover {
    transition: max-width 0s!important;
}
/***************/

.wrapper_home_menu .col_menu {
    position: relative;
    height: 116px;
    margin-bottom: 30px;
}
.wrapper_home_menu .block-menu_wrap {
    height: 116px;
    width: 96%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.00);
    border: 1px solid #fff;
    margin-top: 0;
    z-index: 1;
}

.wrapper_home_menu .col_menu:hover .block-menu_wrap {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid #f8f8f8;
    min-height: 116px;
    width: 96%;
    height: auto !important;
    z-index: 10;
    top: auto;
    position: absolute;
}
.wrapper_home_menu .col_menu:hover .block-menu_wrap .menu_text ul {
    padding: 0 0 20px 0;
    max-height: none;
    word-wrap: break-word;
    -webkit-line-clamp: 20;
}
/**********/
.wrapper_home_menu .menu_bottom_wrap {
    margin-left: 50px;
    margin-bottom: 30px;
    background: #fff;
    width: 277px;
    height: 40px;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid #f8f8f8;
}
.wrapper_home_menu .menu_bottom_wrap .menu_img img {
    height: 100%;
    width: 100%;
    margin-left: 1px;
    object-fit: contain;
}
.wrapper_home_menu .menu_bottom_wrap .menu_title-text {
    display: inline-block;
    height: 100%;
    width: 68%;
    padding-top: 9px;
    vertical-align: top;
}
.wrapper_home_menu .menu_bottom_wrap .menu_title-text div {
    font-size: 15px;
    display: inline;
}
.wrapper_home_menu .menu_bottom_wrap .menu_title-text .menu_plus svg {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 36px;
    top: 12px;
    fill: #1e4eff;
}
.wrapper_home_menu .menu_bottom_wrap .menu_img {
    display: inline-block;
    height: 100%;
    width: 18%;
    padding: 7px 0 7px 0;
    padding-left: -10px;
    vertical-align: top;
}
.app-aside-dock .app-aside .navi > ul > li > a img {
    width: 26px;
    height: 26px;
    float: left;
    margin-left: 13px;
    margin-right: 15px;
    -webkit-filter: grayscale(1);
    filter: gray;
    transition-duration: 0.2s;
    margin: 0 20px 0 15px;
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_1 {
    filter: grayscale(1) brightness(200%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_2 {
    filter: grayscale(1) brightness(130%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_3 {
    filter: grayscale(1) brightness(80%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_4 {
    filter: grayscale(1) brightness(150%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_5 {
    filter: grayscale(1) brightness(110%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_6 {
    filter: grayscale(1) brightness(130%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_7 {
    filter: grayscale(1) brightness(160%);
}
.app-aside-dock .app-aside .navi > ul > li > a .img-filter_8 {
    filter: grayscale(1) brightness(120%);
}
.app-aside-dock .app-aside .navi > ul > li:hover > a img {
    filter: inherit;
    filter: initial;
    filter: unset;
    transition-duration: 0.2s;
    transition-delay: 0s;
}
.app-aside-dock .app-aside .navi > ul > li.active > a img {
    filter: inherit;
    filter: initial;
    filter: unset;
    transition-duration: 0.2s;
}
.app-aside-dock .app-aside .navi > ul > li > a > svg {
    height: 26px;
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    opacity: 0.7;
    margin: 0 4px 0 0px;
}
.app-aside-dock .app-aside .navi > ul > li:hover > a > svg {
    filter: inherit;
    filter: initial;
    filter: unset;
}
.app-aside-dock .app-aside .navi > ul > li.active > a > svg {
    filter: inherit;
    filter: initial;
    filter: unset;
}
.app-aside .collapse-menu .navi > ul > li img.img-filter_1 {
    filter: inherit;
    filter: initial;
    filter: unset;
}
.app-aside-dock .app-aside ._active {
    background: #313649;
}
.app-aside-dock .nav-svg span {
    border-radius: 5px;
    background-color: #1d202d;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 44px;
}
.app-aside-dock .nav-svg span svg {
    width: 25px;
    height: 18px;
    fill: #fff;
    opacity: 0.7;
    cursor: pointer;
}
.app-aside-dock .nav-svg {
    width: 273px!important;
    position: relative;
    margin: 9px 0 9px 0;
    height: 34px;
}
.app-aside-dock .app-aside .navi > ul > li.hidden-folded {
    padding-left: 2px !important;
}

#aside .fix-width .aside-wrap .navi-wrap li.active ul.nav li a:hover {
    background: #0a0c12;
    z-index: 5;
}
#aside .fix-width .aside-wrap .navi-wrap li.active {
    transition: 0s!important;
}
.app-aside-dock .app-aside .navi li li a {
    padding: 0 0 0 60px!important;
}
.aside-wrap .item-menu.active {
    transition: 0s!important;
}
.aside-wrap .item-menu .nav-sub {
    -webkit-transition: all 0s ease-in-out 0s!important;
    transition: all 0s ease-in-out 0s!important;
}


/********  .menu_search_form .search    *******/
.menu-form {
    margin: 8px 0 12px 0;
    min-height: 40px;
}
.menu_search_form {
    width: 80%!important;
}
.menu-form .menu_search_form FORM {
    display: inline-block;
}
.menu_search_form .search {
    width: 100%;
    position: relative;
    padding-left: 6px;
}
.menu_search_form .search input {
    border: none;
}
.menu_search_form .search .input {
    width:100%;
    padding: 10px 37px 10px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background: #424756;
    font: 13px Tahoma, Arial, sans-serif;
    color: #fff;
    outline: none;
}

.menu_search_form .search .submit {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 37px;
    height: 90%;
    cursor: pointer;
    background: #424756;
    /*background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;*/
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512.005 512.005' style='enable-background:new 0 0 512.005 512.005;' xml:space='preserve' width='15px' height='15px'%3e%3cg%3e%3cg%3e%3cg%3e%3cpath d='M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667 S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6 c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A0A3AA'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    fill: #a0a3aa;
    background-position: center;
}
.menu_search_form input[type="search"] {
    -webkit-appearance: none;
}
.menu_search_form input[type="search"]::placeholder {
    color: #a0a3aa;
}
.menu_search_form span {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-form .open-close {
    width: 18%;
    padding: 2px 0 0 3px;
}
.menu-form .open-close button {
    width: 42px;
    height: 36px;
    background-color: #1d202d;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    bottom: -3px;
}
.menu-form .open-close svg {
    fill: #fff;
}
.open-close #open-menu {
    width: 46px;
    margin-left: 3px;
}
.open-close #open-menu svg {
    -webkit-transform: scaleX(-1)!important;
    transform: scaleX(-1)!important;
}
/*******/

.app-aside-dock .app-aside .navi > ul > li .nav-sub:before {
    z-index: 10!important;
}
#aside .fix-width .aside-wrap .navi-wrap li.active li:hover .tovar-svg {
    display: inline!important;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 15px;
    height: 15px;
    z-index: 10;
    cursor: pointer;
}


body.wrap-collapse-menu .wrapper_home_menu {
    padding-left: 20px;
}
body.wrap-collapse-menu .app-content,
body.wrap-collapse-menu #footer {
    margin-left: 20px!important;
}
/***** /.menu_search_form .search *************/

@media only screen and (max-width : 1599px) {
    .wrapper_home_menu {
        padding-left: 45px;
    }
    .menu-form .open-close button {
        width: 29px;
    }
    .app-aside-dock .app-aside .navi > ul > li > a > svg {
        margin: 0 8px 0 2px!important;
    }
}
@media only screen and (max-width : 1499px) {
    .wrapper_home_menu .menu_wrap .menu_img {
        text-align: center;
    }
}
@media (max-width: 1499px) and (min-width: 768px) {
    .app-header-fixed #aside .aside-wrap {
        max-width: 60px!important;
        transition: max-width 0s;
    }
    .app-header-fixed .menu-form .menu_search_form {
        display: none!important;
    }
    .app-header-fixed #aside .aside-wrap .menu-form .open-close #close-menu {
        display: none!important;
    }
    .app-header-fixed #aside .aside-wrap .menu-form .open-close #open-menu {
        display: inline-block!important;
    }
    .app-header-fixed #aside .min-collapse-menu {
        min-width: 193px;
    }
    .app-header-fixed #aside .min-collapse-menu .menu-form .open-close #close-menu {
        display: inline-block!important;
    }
    .app-header-fixed #aside .min-collapse-menu .menu-form .open-close #open-menu {
        display: none!important;
    }
    .app-header-fixed #aside .min-collapse-menu .menu-form .menu_search_form {
        display: inline-block!important;
        width: 66%!important;
    }
}
@media (max-width: 1499px) and (min-width: 992px) {
    .app-header-fixed #aside .min-collapse-menu ul.nav li a .new_badge {
        right: 43px!important;
        top: 14px!important;
        background: #424756;
        width: 25px;
        height: 19px
    }
    .navi ul.nav li a .new_badge {
        right: 174px!important;
        top: -2px!important;
        background: #ff112b;
        width: 21px;
        height: 15px;
        transition: 0s;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .app-header-fixed #aside .min-collapse-menu ul.nav li a .new_badge {
        right: 14px!important;
        top: 14px!important;
        background: #424756;
        width: 25px;
        height: 19px
    }
    .navi ul.nav li a .new_badge {
        right: 144px!important;
        top: -2px!important;
        background: #ff112b;
        width: 21px;
        height: 15px;
        transition: 0s;
    }
    .app-header-fixed #aside .min-collapse-menu .menu-form .open-close button {
        width: 35px;
    }
    .app-header-fixed #aside .min-collapse-menu .menu-form .menu_search_form {
        display: inline-block!important;
        width: 73%!important;
    }
}

@media only screen and (max-width : 991px) {
    .wrapper_home_menu .block_home_menu {
        padding-left: 10%;
    }
    .navi .menu_search_form span {
        right: 5px;
    }
}
@media only screen and (max-width : 920px) {
    .wrapper_home_menu .block_home_menu {
        padding-left: 20%;
    }
}
@media only screen and (max-width : 800px) {
    .wrapper_home_menu .block_home_menu {
        padding-left: 27%;
    }
}
@media only screen and (max-width : 950px) {
    .wrapper_home_menu {
        padding-left: 0px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .aside-wrap .navi-wrap .menu_search_form form {
        display: inline-block!important;
        margin-bottom: 4px;
    }
}
@media only screen and (max-width : 767px) {
    .wrapper_home_menu .menu_wrap .menu_text ul {
        max-width: 98%;
    }
    .aside-wrap .navi-wrap .menu_search_form form {
        display: inline-block!important;
    }
    #aside .fix-width .aside-wrap .navi-wrap.wrapper-md {
        margin-top: -14px;
    }
    .wrapper_home_menu .block_home_menu {
        padding-left: 30px;
    }
    .menu-form .open-close #close-menu {
        width: 47px;
    }
    .app-aside-fixed #aside {
        background-color: #2d3343;
    }

}

/*******************************/


@media (min-width: 992px) {
    .navbar-collapse, .app-content {
        margin-left: 170px;
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    .off-screen {
        width: 50%;
    }
    .off-screen + * {
        -webkit-transform: translate3d(50%, 0, 0px);
        transform: translate3d(50%, 0, 0px);
    }
}
@media(max-width: 500px) {
    #tabs-attr .nav-tabs {
        display: flex;
        margin-bottom: 20px;
    }
    #tabs-attr .nav-tabs a {
        font-size: 13px;
        text-align: center;
    }
    .wrapper-md .col-xs-4 {
        padding-right: 0;
        padding-left: 0;
    }
    .panel-body .col-xs-4 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .status-heading > a {
        font-size: 13px;
    }
    .innerCounters .stats-heading .h1 {
        font-size: 28px;
    }
    .innerCounters .stats-heading.sales-sum .h1 {
        font-size: 21px;
    }
    .btn_own {
        margin: 0 2px 0 0;
    }
}
@media (min-width: 401px) and (max-width: 500px) {
    .off-screen {
        width: 60%;
    }

    .off-screen + * {
        -webkit-transform: translate3d(60%, 0, 0px);
        transform: translate3d(60%, 0, 0px);
    }
}

@media (max-width: 400px) {
    #action_orders .btn {
        padding: 6px 4px;
        font-size: 13px;
    }
    .off-screen {
        width: 80%;
    }

    .off-screen + * {
        -webkit-transform: translate3d(80%, 0, 0px);
        transform: translate3d(80%, 0, 0px);
    }
    #own_table {
        font-size: 13px;
    }
    #own_table td .btn_own {
        margin: 0 0 0 10px;
    }
    #own_table.articles_mob-tr >tbody>tr>td:nth-child(3) {
        margin: 0 5px;
    }
    #own_table.articles_mob-tr >tbody>tr> td:last-child {
        width: 250px;
    }
}
@media (max-width: 767px) {
    #aside .b-b { padding: 10px 15px }

    .products_inner_left, .products_inner_left-cont {
        margin-right: 0;
    }
    .products_inner_right {
        width: 100%;
    }

    .wrapper_767 {
        padding: 15px 0;
    }

}
@media (max-width: 420px) {
    .products_inner_left-cont tr {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .products_inner_left-cont tr td:first-of-type {
        width: 100% !important;
        text-align: left;
        padding: 0 11px;
    }
    .products_inner_left-cont tr td:last-of-type {
        padding: 5px;
    }
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #000;
}
.modal-body .control-label img.country-flag {
    height: 35px;
    width: 35px;
    margin-right: 3px;
    padding-top: 0;
    padding-bottom: 0;
    /*border: 1px solid #cfdadd;*/
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 0px;
        margin-bottom: 0;
        text-align: center;
    }
}
@media only screen and (max-width : 991px) {
    .modal-open #modal_form .modal-dialog {
        width: auto;
        max-width: 96%!important;
        margin-left: 8px!important;
    }
}
@media only screen and (max-width : 992px) {
    .app-header-fixed .fix-width .new_index.container .new_index_row.row {
        margin-right: 0;
        margin-left: 0;
    }
    .app-header-fixed .fix-width .new_index.container {
        width: 100%;
    }
}